:host {
  display: inline-block;
  background-image: url(../../../assets/games/power-grid/icons/coin.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;

  text-align: center;
  vertical-align: middle;
  line-height: 48px;

  font-size: 24px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px black;
  text-shadow: 2px 2px 2px #000;
}
