<div class="container">

  <h1>Frequently Asked Questions</h1>

  <dl>
    <dt>Why can I do if a player is not playing or responding?</dt>
    <dd>
      Currently, the only thing you can do is wait or leave the table.
    </dd>

    <dt>Why should I donate?</dt>
    <dd>
      Running this website costs real money. Also developing the games, fixing bugs and adding features takes a lot of time.
      So you will be helping me out personally to cover the costs and keep it running!
    </dd>
  </dl>

</div>
