<ng-container *ngIf="table | async as table">
  <ng-container *ngIf="table.status === 'STARTED' || table.status === 'ENDED'; else lobby">
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #lobby>
    <app-navbar></app-navbar>

    <section class="container">
      <div class="jumbotron">
        <h5>{{'game.' + table.game + '.name'|translate}}</h5>
        <hr class="my-4">
        <p>
          <a [routerLink]="['/games/', table.game]">
            <img src="/assets/games/{{table.game}}/box.png" class="box"
                 alt="{{'game.' + table.game + '.name'|translate}}"/>
          </a>

          <span [innerHTML]="'game.' + table.game + '.summary'|translate"></span>

          <button type="button" class="btn btn-link" (click)="hideDescription=!hideDescription"
                  [attr.aria-expanded]="!hideDescription" aria-controls="description">
            {{(hideDescription ? 'readMore' : 'showLess')|translate}}
          </button>
          <span id="description" [ngbCollapse]="hideDescription" [innerHTML]="'game.' + table.game + '.description'|translate"></span>
        </p>
        <p>
          <strong>{{'table.status.' + table.status|translate}}</strong>
        </p>
        <ng-container class="lead" *ngIf="table.status === 'NEW'">
          <p *ngIf="table.canStart">
            <button class="btn btn-lg btn-success" (click)="start(table)">{{'start'|translate}}</button>&nbsp;
          </p>

          <p>
            {{'table.visibility.' + table.visibility|translate}}
            <br/>
            <ng-container *ngIf="table.player && table.players[table.player].user.id == table.owner.id">
              <button *ngIf="table.visibility == 'PRIVATE'" class="btn btn-lg btn-outline-secondary"
                      (click)="makePublic(table)">{{'table.makePublic'|translate}}</button>
              <button *ngIf="table.visibility == 'PUBLIC'" class="btn btn-lg btn-outline-secondary"
                      (click)="makePrivate(table)">{{'table.makePrivate'|translate}}</button>
            </ng-container>
          </p>

          <button *ngIf="table.canJoin" class="btn btn-success" (click)="join(table)">{{'join'|translate}}</button>
          <button *ngIf="table.canLeave" class="btn btn-danger" (click)="leave(table)">{{'leave'|translate}}</button>

          <p *ngIf="table.canAccept">
            <button class="btn btn-lg btn-success" (click)="accept(table)">{{'accept'|translate}}</button>&nbsp;
            <button class="btn btn-lg btn-danger" (click)="reject(table)">{{'reject'|translate}}</button>
          </p>
        </ng-container>
      </div>
    </section>

    <section class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="card">
            <div class="card-header">
              {{'options'|translate}}
            </div>
            <div class="card-body">
              <form *ngIf="(provider$ | async) as provider">
                <div class="form-group" *ngFor="let option of provider.getOptions(table); trackBy: trackOption">
                  <label [for]="option.key">{{(table.game + '.option.' + option.key + '.label')|translate}}</label>
                  <div ngbDropdown>
                    <button class="btn btn-outline-primary" [id]="option.key" ngbDropdownToggle>
                      {{(table.game + '.option.' + option.key + '.value.' + (table.options[option.key] || option.defaultValue))|translate}}
                    </button>
                    <div ngbDropdownMenu>
                      <button ngbDropdownItem *ngFor="let value of option.values"
                              (click)="table.options[option.key] = value; changeOptions(table, table.options)">
                        {{(table.game + '.option.' + option.key + '.value.' + value)|translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <div class="card">
            <div class="card-header">
              {{'players'|translate}}
            </div>
            <div class="card-body players">
              <div *ngFor="let playerId of [table.player].concat(table.otherPlayers)" class="row player">
                <div class="col-12">
                  <div class="card" *ngIf="playerId && table.players[playerId] as player">
                    <div class="card-body">
                      <p>
                        <app-avatar *ngIf="player.user" [user]="player.user"></app-avatar>
                        <app-player-name [player]="player"></app-player-name>
                        <app-rating *ngIf="player.rating" [rating]="player.rating"
                                    title="{{'rating'|translate}}"></app-rating>
                      </p>
                      <span *ngIf="player.user?.id === table.owner.id"
                            class="badge badge-dark">
                        {{'owner'|translate}}
                      </span>
                      <ng-container *ngIf="table.status === 'NEW' && playerId !== table.player">
                        {{'player.status.' + player.status|translate}}
                        <button class="btn btn-sm btn-danger"
                                *ngIf="table.player && table.players[table.player].user.id === table.owner.id"
                                (click)="kick(table, player)">{{'uninvite'|translate}}</button>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="table.status === 'NEW'" class="buttons">
                <ng-container *ngIf="table.player && table.players[table.player].user.id == table.owner.id">
                  <button class="btn btn-primary" (click)="invite(table)">{{'invite'|translate}}</button>&nbsp;
                  <button class="btn btn-secondary" (click)="addComputer(table)">{{'addComputer'|translate}}</button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-template>
</ng-container>

