:host {
  display: inline-block;
  width: 56px;
  height: 68px;
  border-radius: 8px;
  background-size: cover;

  color: #ffffff;

  position: relative;

  .points {
    position: absolute;
    left: 35px;
    top: 38px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  &.FLOOD {
    &.GREEN {
      background-image: url('src/assets/games/gwt/flood_green.png');
    }

    &.BLACK {
      background-image: url('src/assets/games/gwt/flood_black.png');
    }
  }

  &.DROUGHT {
    &.GREEN {
      background-image: url('src/assets/games/gwt/drought_green.png');
    }

    &.BLACK {
      background-image: url('src/assets/games/gwt/drought_black.png');
    }
  }

  &.ROCKFALL {
    &.GREEN {
      background-image: url('src/assets/games/gwt/rockfall_green.png');
    }

    &.BLACK {
      background-image: url('src/assets/games/gwt/rockfall_black.png');
    }
  }
}
