app-in-game-player {
  header {
    display: inline-block;
  }

  svg {
    .goods {
      .good {
        opacity: 0.5;

        &.available {
          opacity: 1;
        }
      }
    }

    .rubies {
      .ruby {
        opacity: 0.5;

        &.available {
          opacity: 1;
        }
      }
    }
  }

  .lira {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 18px;
    margin: 8px;
    background-image: url('../../../assets/games/big-bazar/lira.png');
    background-size: cover;
  }

  .rubies {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    margin: 2px;
    background-image: url('../../../assets/games/big-bazar/ruby.png');
    background-size: cover;
  }

  .goods {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    background-size: cover;
    margin: 2px;

    &.BLUE {
      background-image: url('../../../assets/games/big-bazar/market/blue.png');
    }

    &.FABRIC {
      background-image: url('../../../assets/games/big-bazar/market/fabric.png');
    }

    &.SPICE {
      background-image: url('../../../assets/games/big-bazar/market/spice.png');
    }

    &.FRUIT {
      background-image: url('../../../assets/games/big-bazar/market/fruit.png');
    }
  }

  .bonus-cards {
    big-bazar-bonus-card {
      width: 100px;
      height: 62px;
    }

    button {
      &:disabled {
        opacity: 1;
        border: none;
      }

      border: 2px solid white;

      &:hover {
        border-color: black;
      }
    }
  }

  .mosque-tiles {
    big-bazar-mosque-tile {
      width: 60px;
      height: 60px;
    }
  }
}
