<app-in-game-player *ngIf="state.players[player.color] as playerState"
                    [player]="player"
                    [table]="table"
                    [score]="playerState.rubies">
  <main>
    <p *ngIf="!player.user">{{'big-bazar.computerExplanation'|translate}}</p>

    <ng-template #liraPopover>
      <p [innerHTML]="'big-bazar.liraPopover'|translate"></p>
    </ng-template>
    <span class="lira" [title]="'big-bazar.lira'|translate"
          [ngbPopover]="liraPopover"
          triggers="mouseenter:mouseleave"
          container="body">{{playerState.lira}}</span>

    <ng-template #rubiesPopover>
      <p [innerHTML]="'big-bazar.rubiesPopover'|translate"></p>
    </ng-template>

    <svg xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 400 270"
         style="width:100%">

      <image href="/assets/games/big-bazar/wheelbarrow.png"
             x="0" y="0"
             width="400" height="260"></image>

      <g class="goods" transform="translate(20,20)">
        <g *ngFor="let goodsType of goodsTypes; index as index"
           [attr.transform]="'translate(0,' + (index * 50) + ')'">
          <rect width="40" height="40" rx="6" ry="6"
                stroke="white" stroke-width="1" fill="none"
                x="0"></rect>

          <image *ngFor="let _ of [].constructor(playerState.capacity); index as index"
                 [attr.href]="'/assets/games/big-bazar/market/' + goodsType.toLowerCase() + '.png'"
                 [attr.x]="(index+1) * 50"
                 class="good"
                 width="40"
                 height="40"></image>

          <rect *ngFor="let _ of [].constructor(5 - playerState.capacity); index as index"
                width="40" height="40" rx="6" ry="6"
                stroke="white" stroke-width="1" fill="none"
                [attr.x]="(index + playerState.capacity + 1) * 50"></rect>

          <rect width="20" height="20"
                [class]="'fill-' + player.color" stroke="black" stroke-width="1"
                y="10" [attr.x]="10 + (playerState.goods[goodsType]||0) * 50"></rect>
        </g>
      </g>

      <g class="rubies" transform="translate(20, 215)"
         [ngbPopover]="rubiesPopover"
         triggers="mouseenter:mouseleave"
         container="body">
        <image *ngFor="let _ of [].constructor(state.maxRubies); index as index"
               href="/assets/games/big-bazar/ruby.png"
               [attr.x]="index * 50"
               class="ruby"
               [class]="{available: playerState.rubies > index}"
               width="40"
               height="40"></image>
      </g>
    </svg>

    <div *ngIf="playerState.mosqueTiles?.length" class="mosque-tiles">
      <ng-container *ngFor="let mosqueTile of playerState.mosqueTiles">
        <ng-template #popover>
          <app-mosque-tile-popover [mosqueTile]="mosqueTile"></app-mosque-tile-popover>
        </ng-template>
        <big-bazar-mosque-tile [mosqueTile]="mosqueTile"
                               [ngbPopover]="popover"
                               triggers="mouseenter:mouseleave"
                               container="body"></big-bazar-mosque-tile>
      </ng-container>
    </div>

    <div *ngIf="playerState.bonusCards?.length" class="bonus-cards">
      <button *ngFor="let bonusCard of playerState.bonusCards"
              [disabled]="!canSelectBonusCard(bonusCard)"
              class="btn"
              (click)="selectBonusCard(bonusCard)">
        <ng-template #popover>
          <big-bazar-bonus-card-popover [bonusCard]="bonusCard"></big-bazar-bonus-card-popover>
        </ng-template>
        <big-bazar-bonus-card [bonusCard]="bonusCard"
                              [ngbPopover]="popover"
                              triggers="mouseenter:mouseleave"
                              container="body"></big-bazar-bonus-card>
      </button>
    </div>

    <div *ngIf="!playerState.bonusCards?.length" class="bonus-cards">
      <ng-container *ngFor="let i of [].constructor(playerState.numberOfBonusCards)">
        <big-bazar-bonus-card></big-bazar-bonus-card>
      </ng-container>
    </div>
  </main>
</app-in-game-player>
