<div class="modal-header">
  <h4 class="modal-title">
    {{'changePasswordDialog.title'|translate}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #form="ngForm" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="form-group">
      <label for="password">{{'changePasswordDialog.password'|translate}}</label>
      <input type="password" class="form-control" id="password" name="password" #passwordField="ngModel" [(ngModel)]="password" required minlength="8"
             [ngClass]="{'is-valid': passwordField.touched && passwordField.valid, 'is-invalid': passwordField.touched && passwordField.invalid}"/>
      <span>{{'changePasswordDialog.policy'|translate}}</span>
    </div>
    <div class="form-group">
      <label for="confirmPassword">{{'changePasswordDialog.confirmPassword'|translate}}</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordField="ngModel" [(ngModel)]="confirmPassword" required [same]="password"
             [ngClass]="{'is-valid': confirmPasswordField.touched && confirmPasswordField.valid, 'is-invalid': confirmPasswordField.touched && confirmPasswordField.invalid}"/>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">{{'changePasswordDialog.submit'|translate}}</button>
  </div>
</form>
