<div class="modal-header">
  <h4 class="modal-title">
    {{'gwt.objectivesDialog'|translate}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="objectives">
    <span *ngFor="let objective of playerState.objectives" class="objective"
          [ngClass]="{committed: objective.score !== 0 && objective.committed, completed:objective.score > 0, notCompleted: objective.committed && objective.score <= 0}">
      <app-card [card]="objective.objectiveCard"></app-card>

      <span class="status"
            [ngbPopover]="('gwt.popover.objective.' + (objective.score > 0 ? 'completed' : 'notCompleted'))|translate:{score:objective.score}"
            triggers="mouseenter:mouseleave"
            container="body"></span>
    </span>
  </div>

  <div class="stationMasters">
    <app-station-master *ngFor="let stationMaster of playerState.stationMasters"
                        [stationMaster]="stationMaster"></app-station-master>
  </div>

  <div class="tiles">
    <app-hazard *ngFor="let hazard of playerState.hazards" [hazard]="hazard"></app-hazard>

    <app-teepee *ngFor="let teepee of playerState.teepees" [teepee]="teepee"></app-teepee>
  </div>
</div>
<div class="modal-footer">
</div>
