<strong>{{'game.' + table.game + '.name' | translate}}</strong>

<ng-container [ngSwitch]="table.status">
  <span *ngSwitchCase="'NEW'">
    {{'createdAt'|translate}} <a [routerLink]="['/',table.game, table.id]">{{table.created | moment:'LLL'}}</a>
  </span>
  <span *ngSwitchCase="'STARTED'">
    {{'createdAt'|translate}} <a [routerLink]="['/',table.game, table.id]">{{table.started | moment:'LLL'}}</a>
  </span>
  <span *ngSwitchCase="'ENDED'">
    {{'endedAt'|translate}} <a [routerLink]="['/',table.game, table.id]">{{table.ended | moment:'LLL'}}</a>
  </span>
</ng-container>
