:host {
  display: inline-block;
  width: 56px;
  height: 68px;
  border-radius: 8px;
  background-size: cover;

  &.PERM_CERT_POINTS_FOR_EACH_2_CERTS {
    background-image: url('../../assets/points_per_2_certs.jpg');
  }
  &.PERM_CERT_POINTS_FOR_EACH_2_HAZARDS {
    background-image: url('../../assets/points_per_pair_hazards.jpg');
  }
  &.PERM_CERT_POINTS_FOR_TEEPEE_PAIRS {
    background-image: url('../../assets/points_per_pair_teepees.jpg');
  }
  &.REMOVE_HAZARD_OR_TEEPEE_POINTS_FOR_EACH_2_OBJECTIVE_CARDS {
    background-image: url('../../assets/points_per_2_objective_cards.jpg');
  }
  &.GAIN_2_DOLLARS_POINT_FOR_EACH_WORKER {
    background-image: url('../../assets/point_per_worker.jpg');
  }
}
