<div *ngFor="let group of groups; trackBy: trackGroup" class="group">
  <div class="timestamp" [title]="group.logEntries[0].timestamp | moment:'LLLL'">
    {{group.logEntries[0].timestamp | logTime}}
  </div>
  <div *ngFor="let logEntry of group.logEntries; trackBy: trackLogEntry" class="log-entry" [@fadeInOnEnter]>
    <app-player-name *ngIf="logEntry.player && table.players[logEntry.player.id]"
                     [player]="table.players[logEntry.player.id]"></app-player-name>

    <app-user-name *ngIf="!logEntry.player || !table.players[logEntry.player.id]"
                   [userId]="logEntry.user.id"
                   [username]="logEntry.user.username"></app-user-name>

    <span class="message" [ngSwitch]="logEntry.type">
      <span *ngSwitchCase="'IN_GAME_EVENT'" [innerHTML]="translateInGameEvent(logEntry)"></span>
      <span *ngSwitchDefault [innerHTML]="translate(logEntry)"></span>
    </span>
  </div>
</div>
<div *ngIf="hasMoreLogEntries" class="more">
  <button class="btn btn-link" (click)="showMore()">{{'showMore'|translate}}</button>
</div>
