<h2>{{'friends'|translate}}</h2>
<button class="btn btn-primary" (click)="add()" *ngIf="isSelf$ | async">
  {{'addFriend'|translate}}
</button>
<ng-container *ngIf="friends$ | async as friends; else loading">
  <div *ngFor="let friend of friends">
    <user-friend [friend]="friend"></user-friend>

    <button class="btn btn-danger" (click)="remove(friend)" *ngIf="isSelf$ | async">
      {{'removeFriend'|translate}}
    </button>
  </div>
  <p *ngIf="friends.length === 0">{{'noFriends'|translate}}</p>
</ng-container>
<ng-template #loading>
  {{'loading'|translate}}
</ng-template>
