<div class="modal-header">
  <h4 class="modal-title">
    {{'gwt.buildingsDialog'|translate}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-container *ngFor="let playerBuilding of playerState.buildings">
    <ng-template #popover>
      <gwt-building-popover [table]="table" [building]="playerBuilding" [color]="playerState.player.color"></gwt-building-popover>
    </ng-template>
    <button class="building"
            [ngStyle]="{'background-image':'url(\'/assets/games/'+ table.game + '/buildings/' + playerBuilding.toLowerCase() + '_' + playerState.player.color.toString().toLowerCase() + '.png\')'}"
            (click)="confirm(playerBuilding)"
            [ngbPopover]="popover"
            triggers="mouseenter:mouseleave"
            container="body">
    </button>
  </ng-container>
</div>
<div class="modal-footer">
</div>
