<div class="modal-header">
  <h4 class="modal-title">Scores</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" *ngFor="let column of columns">
        <span [class]="column.player.color">{{table.players[column.player.name].user?.username || 'computer'|translate|titlecase}}</span>
      </th>
    </tr>
    <tr>
      <th scope="col">Total</th>
      <th scope="col" *ngFor="let column of columns">
        <span [class]="column.player.color">{{column.total}}</span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows">
      <th scope="row">{{'score.' + row.category|translate}}</th>
      <td *ngFor="let score of row.scores">{{score}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
</div>
