<h2>Create Game</h2>

<div *ngIf="inviting">
  <button class="btn btn-secondary" (click)="this.inviting = false">Back</button>
  <app-select-user (selectUser)="addUser($event)"></app-select-user>
</div>

<div *ngIf="!inviting">
  <form>
    <div>
      <button class="btn btn-primary" [disabled]="!canInvite" (click)="this.inviting = true">Invite</button>

      <ul>
        <li *ngFor="let user of invitedUsers">
          {{user.username}}
          <button class="btn btn-outline-secondary" (click)="uninvite(user)">Uninvite</button>
        </li>
      </ul>
    </div>

    <div>
      Number of players
      <input type="number" name="numberOfPlayers"
             [(ngModel)]="numberOfPlayers"
             [min]="minNumberOfPlayers"
             max="4"
             step="1"
             [value]="numberOfPlayers"/>
    </div>

    <div>
      Mode:
      <input type="radio" [(ngModel)]="beginner" [value]="true" id="beginner" name="beginner">Beginner
      <input type="radio" [(ngModel)]="beginner" [value]="false" id="notBeginner" name="beginner">Randomize
    </div>

    <div>
      <button class="btn btn-primary" (click)="create()" [disabled]="!valid">Create</button>
    </div>
  </form>
</div>
