<div class="modal-header">
  <h4 class="modal-title">{{'big-bazar.endedDialog'|translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <table class="table table-sm">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" *ngFor="let column of columns">
        <app-player-name [player]="column.player"></app-player-name>
        <span class="place1st" *ngIf="column.player.winner"></span>
      </th>
    </tr>
    <tr>
      <th scope="col">{{'score'|translate}}</th>
      <th scope="col" *ngFor="let column of columns">
        <strong>{{column.player.score}}</strong>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">{{'big-bazar.lira'|translate}}</th>
      <td scope="col" *ngFor="let column of columns">
        <strong>{{column.playerState.lira}}</strong>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
</div>
