<div *ngIf="loggedIn$ | async" ngbDropdown placement="bottom-right">
  <button id="userMenu" class="navbar-toggler" type="button" ngbDropdownToggle>
    <span class="navbar-toggler-icon"></span>
  </button>
  <div ngbDropdownMenu aria-labelledby="userMenu" class="dropdown-menu dropdown-menu-right">
    <ng-container *ngIf="user | async as user">
      <a [routerLink]="['/user', user.id]" ngbDropdownItem>
        <app-avatar [user]="user"></app-avatar>
        <strong>{{user.username}}</strong>
      </a>
      <a [routerLink]="['/user', user.id]" ngbDropdownItem>{{'user-menu.myActivity'|translate}}</a>
      <a [routerLink]="['/user', user.id]" ngbDropdownItem>{{'user-menu.friends'|translate}}</a>
      <a [routerLink]="['/profile']" ngbDropdownItem>{{'user-menu.profile'|translate}}</a>
    </ng-container>
    <button ngbDropdownItem (click)="logout()">{{'logout'|translate}}</button>
  </div>
</div>
