<div *ngIf="user | async as user" ngbDropdown placement="bottom-right">
  <button id="userMenu" class="btn dropdown-toggle" ngbDropdownToggle>
    <app-avatar [user]="user" [shadow]="true"></app-avatar>
  </button>
  <div ngbDropdownMenu aria-labelledby="userMenu" class="dropdown-menu dropdown-menu-right">
    <button ngbDropdownItem><strong>{{user.username}}</strong></button>
    <a [routerLink]="['/profile']" ngbDropdownItem>{{'user-menu.profile'|translate}}</a>
    <button ngbDropdownItem (click)="logout()">{{'logout'|translate}}</button>
  </div>
</div>
