<nav class="navbar navbar-expand-lg fixed-top bg-dark justify-content-between">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="btn btn-secondary" [routerLink]="['/']" i18n>Back</a>
    </li>
    <ng-container *ngIf="state | async as state">
      <li class="nav-item">
        <a class="btn btn-primary" *ngIf="state.turn" (click)="endTurn()" i18n>End Turn</a>
      </li>
    </ng-container>
  </ul>

  <ng-container *ngIf="state | async as state">
    <div class="actions">
      <ng-container *ngIf="!selectedAction">
      <span *ngFor="let actionType of state.actions">
        <ng-container [ngSwitch]="actionType">
          <span *ngSwitchDefault><button class="btn btn-secondary" (click)="selectAction(actionType)">{{actionType}}</button></span>
        </ng-container>
      </span>
      </ng-container>
      <ng-container *ngIf="selectedAction">
        <ng-container [ngSwitch]="selectedAction">
          <span *ngSwitchCase="'DISCARD_CARD'" i18n>Discard a card</span>
          <span *ngSwitchCase="'MOVE'" i18n>Move your cattleman</span>
          <span *ngSwitchCase="'SINGLE_AUXILIARY_ACTION'" i18n>Select auxiliary action</span>
          <span *ngSwitchCase="'SINGLE_OR_DOUBLE_AUXILIARY_ACTION'" i18n>Select auxiliary action</span>
          <span *ngSwitchCase="'DISCARD_1_CARD'" i18n>Discard 1 card</span>
          <span *ngSwitchCase="'DISCARD_2_CARDS'" i18n>Discard 2 cards</span>
          <span *ngSwitchCase="'DISCARD_3_CARDS'" i18n>Discard 3 cards</span>
          <span *ngSwitchCase="'TRADE_WITH_INDIANS'" i18n>Take a teepee</span>
          <span *ngSwitchCase="'BUY_CATTLE'" i18n>Buy cattle</span>
          <span *ngSwitchCase="'CHOOSE_FORESIGHTS'" i18n>Choose foresights</span>
          <span *ngSwitchCase="'DELIVER_TO_CITY'" i18n>Choose city</span>
          <span *ngSwitchCase="'UNLOCK_WHITE'" i18n>Choose a disc to remove from player board</span>
          <span *ngSwitchCase="'UNLOCK_BLACK_OR_WHITE'" i18n>Choose a disc to remove from player board</span>
          <span *ngSwitchCase="'TAKE_OBJECTIVE_CARD'" i18n>Choose objective card</span>
          <span *ngSwitchCase="'DISCARD_PAIR_TO_GAIN_4_DOLLARS'" i18n>Discard pair to gain 4 dollars</span>
          <span *ngSwitchCase="'PAY_1_DOLLAR_AND_MOVE_ENGINE_1_BACKWARDS_TO_GAIN_1_CERTIFICATE'" i18n>Move engine 1 backwards to gain 1 certificate, but pay 1 dollar</span>
          <span *ngSwitchCase="'PAY_1_DOLLAR_TO_MOVE_ENGINE_1_FORWARD'" i18n>Move engine 1 forward but pay 1 dollar</span>
          <span *ngSwitchCase="'PAY_2_DOLLARS_AND_MOVE_ENGINE_2_BACKWARDS_TO_GAIN_2_CERTIFICATES'" i18n>Move engine 2 backwards to gain 2 certificates, but pay 2 dollars</span>
          <span *ngSwitchCase="'PAY_2_DOLLARS_TO_MOVE_ENGINE_2_FORWARD'" i18n>Move engine 2 forward but pay 2 dollars</span>
          <span *ngSwitchCase="'MOVE_ENGINE_1_BACKWARDS_TO_GAIN_3_DOLLARS'" i18n>Move engine 1 backwards to gain 3 dollars</span>
          <span *ngSwitchCase="'MOVE_ENGINE_1_BACKWARDS_TO_REMOVE_1_CARD'" i18n>Move engine 1 backwards to remove 1 card</span>
          <span *ngSwitchCase="'MOVE_ENGINE_2_BACKWARDS_TO_REMOVE_2_CARDS'" i18n>Move engine 2 backwards to remove 2 cards</span>
          <span *ngSwitchCase="'MOVE_ENGINE_2_OR_3_FORWARD'" i18n>Move engine 2 or 3 forward</span>
          <span *ngSwitchCase="'MOVE_ENGINE_AT_LEAST_1_BACKWARDS_AND_GAIN_3_DOLLARS'" i18n>Move engine at least 1 backwards and gain 3 dollars</span>
          <span *ngSwitchCase="'MOVE_ENGINE_FORWARD'" i18n>Move engine forward</span>
          <span *ngSwitchCase="'MOVE_ENGINE_AT_MOST_2_FORWARD'" i18n>Move engine at most 2 forward</span>
          <span *ngSwitchCase="'MOVE_ENGINE_AT_MOST_3_FORWARD'" i18n>Move engine at most 3 forward</span>
          <span *ngSwitchCase="'MOVE_ENGINE_AT_MOST_4_FORWARD'" i18n>Move engine at most 4 forward</span>
          <span *ngSwitchCase="'MOVE_ENGINE_AT_MOST_5_FORWARD'" i18n>Move engine at most 5 forward</span>
          <span *ngSwitchCase="'MOVE_ENGINE_FORWARD_UP_TO_NUMBER_OF_BUILDINGS_IN_WOODS'" i18n>Move engine forward up to number of buildings in the woods</span>
          <span *ngSwitchDefault>Unknown action selected: {{selectedAction}}</span>
        </ng-container>
        <button class="btn btn-secondary" *ngIf="state.actions.length > 1" (click)="cancelAction()">Cancel</button>
      </ng-container>
    </div>

    <div class="form-inline">
      <div *ngIf="state.turn" i18n>
        Your Turn ({{state.expires | fromNow}} remaining)
      </div>
      <div *ngIf="!state.turn" i18n>
        waiting for {{state.currentPlayer.user.username}} ({{state.expires | fromNow}} remaining)
      </div>
      <app-connection-status></app-connection-status>
    </div>
  </ng-container>
</nav>

<div class="main" *ngIf="game | async as game">
  <ng-container *ngIf="game.status === 'STARTED'; else notStarted">
    <app-board [game]="game"
               [state]="state | async"
               [selectedAction]="selectedAction"
               (action)="perform($event)">
    </app-board>
  </ng-container>

  <ng-template #notStarted>
    {{game.status}}

    <!-- TODO Confirm dialog when not all players have accepted -->
    <button class="btn btn-primary" [disabled]="!game.startable" (click)="start()">Start</button>
    <span *ngIf="!game.startable" i18n>You cannot start the game</span>
    <span *ngIf="game.startable" i18n>You can start the game (even if not all players have accepted)</span>

    <ul>
      <li *ngFor="let player of game.otherPlayers">
        {{player.user.username}}
        {{player.status}}
      </li>
    </ul>
  </ng-template>
</div>
