:host {
  font-family: sans-serif;
  font-size: 0.75em;
  font-weight: 600;
}

nav {
  color: #ffffff;
}

.main {
  margin-top: 54px; /* clear fixed-top navbar */
}

.RED {
  color: red;
}

.BLUE {
  color: blue;
}

.YELLOW {
  color: yellow;
}

.WHITE {
  color: white;
}
