:host {
  display: block;
  width: 75px;
  height: 291px;

  background-image: url('../../../assets/games/ds/scoring.png');
  background-repeat: no-repeat;
  background-size: contain;

  border: 2px #746048 solid;

  box-shadow: 2px 2px 8px #000000;
}
