:host {
  border-radius: 8px;
  display: inline-block;
  width: 56px;
  height: 68px;
}

.station-master {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 8px;

  &.PERM_CERT_POINTS_FOR_EACH_2_CERTS {
    background-image: url('../../../assets/games/gwt/points_per_2_certs.png');
  }
  &.PERM_CERT_POINTS_FOR_EACH_2_HAZARDS {
    background-image: url('../../../assets/games/gwt/points_per_pair_hazards.png');
  }
  &.PERM_CERT_POINTS_FOR_TEEPEE_PAIRS {
    background-image: url('../../../assets/games/gwt/points_per_pair_teepees.png');
  }
  &.REMOVE_HAZARD_OR_TEEPEE_POINTS_FOR_EACH_2_OBJECTIVE_CARDS {
    background-image: url('../../../assets/games/gwt/points_per_2_objective_cards.png');
  }
  &.GAIN_2_DOLLARS_POINT_FOR_EACH_WORKER {
    background-image: url('../../../assets/games/gwt/point_per_worker.png');
  }
  &.TWO_PERM_CERTS {
    background-image: url('../../../assets/games/gwt/sm/2_perm_certs.png');
  }
  &.TWELVE_DOLLARS {
    background-image: url('../../../assets/games/gwt/sm/12_dollars.png');
  }
  &.PERM_CERT_POINTS_PER_2_STATIONS {
    background-image: url('../../../assets/games/gwt/sm/points_per_2_stations.png');
  }
  &.GAIN_2_CERTS_POINTS_PER_BUILDING {
    background-image: url('../../../assets/games/gwt/sm/2_certs.png');
  }
  &.PLACE_BRANCHLET_POINTS_PER_2_EXCHANGE_TOKENS {
    background-image: url('../../../assets/games/gwt/sm/place_branchlet.png');
  }
  &.GAIN_EXCHANGE_TOKEN_POINTS_PER_AREA {
    background-image: url('../../../assets/games/gwt/sm/points_per_area.png');
  }
}
