<div class="card">
  <div class="card-header">
    <div>
      <app-avatar *ngIf="player.user" [user]="player.user"></app-avatar>

      <app-player-name [player]="player"></app-player-name>

      <app-location-icon *ngIf="player.user?.location" [location]="player.user.location"></app-location-icon>
      &nbsp;
      <app-rating *ngIf="player.rating" [rating]="player.rating"></app-rating>

      <img src="/assets/hourglass.gif" class="hourglass" *ngIf="table.currentPlayer === player.id"
           ngbPopover="{{'popover.waitingForPlayer'|translate}}"
           placement="bottom"
           triggers="mouseenter:mouseleave"
           container="body"/>

      <ng-template #scorePopover>
        <ng-content select="[score]"></ng-content>
      </ng-template>
      <span *ngIf="score !== undefined && score !== null" class="score"
           [ngbPopover]="scorePopover" [title]="'score'|translate"
           placement="bottom"
           triggers="mouseenter:mouseleave hover click"
           container="body">
        {{score}}
      </span>
    </div>

    <ng-content select="header"></ng-content>
  </div>
  <div class="card-body">
    <ng-content select="main"></ng-content>
  </div>
</div>
