<div class="container" *ngIf="user$ | async as user">

  <h1>
    <app-avatar [user]="user"></app-avatar>
    {{user.username}}
    <span *ngIf="user.location">
      <app-location-icon [location]="user.location"></app-location-icon>
    </span>
  </h1>

  <p *ngIf="user.language">
    {{'language'|translate}}: {{user.language}}
  </p>

  <section *ngIf="currentUser$ | async as currentUser">
    <user-friends [userId]="user.id" [readOnly]="currentUser.id !== user.id"></user-friends>
  </section>

  <section>
    <user-activity [user]="user"></user-activity>
  </section>
</div>
