<div *ngIf="rating$ | async as rating">
  <table class="table">
    <thead>
    <tr>
      <th>Player</th>
      <th>Delta</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let delta of rating.deltas">
      <td>
        <app-user-name [userId]="delta.user.id" [username]="delta.user.username"></app-user-name>
      </td>
      <td>
        {{delta.delta | number: '1.0-1'}}
      </td>
    </tr>
    </tbody>
  </table>
  <a [routerLink]="['/', rating.gameId, rating.tableId]">
    View table
  </a>
</div>
