.action-bar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  top: 50px; /* always show the in game navbar */
  z-index: 999; /* op top of stuff, but underneath drop downs */
  margin-bottom: 8px; /* clear shadow */
  padding: 0.5em;

  .btn {
    margin: 2px;
  }

  .instruction {
    text-align: center;
  }

  .actions {
    text-align: center;

    button {
      margin: 4px;
    }
  }
}


.place {
  .name {
    font-family: serif;
    font-weight: bold;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
  }

  &.selectable {
    .clickbox {
      fill: black;
      fill-opacity: 0.001; /* >0, so browser considers it visible across the whole area */
      stroke: white;
      stroke-width: 8;
      cursor: pointer;
    }

    &:hover {
      .clickbox {
        stroke: black;
      }
    }
  }
}

.mosque {
  rect {
    fill: none;

    &.selectable {
      fill: black;
      fill-opacity: 0.001; /* >0, so browser considers it visible across the whole area */
      stroke: white;
      stroke-width: 8;
      cursor: pointer;

      &:hover {
        stroke: black;
      }
    }
  }
}

app-in-game-player {
  header {
    display: inline-block;
  }

  svg {
    .goods {
      .good {
        opacity: 0.25;

        &.available {
          opacity: 1;
        }
      }
    }

    .rubies {
      .ruby {
        opacity: 0.25;

        &.available {
          opacity: 1;
        }
      }
    }
  }

  .lira {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    margin: 2px;
    background-image: url('../../../assets/games/istanbul/lira.png');
    background-size: cover;
  }

  .rubies {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    margin: 2px;
    background-image: url('../../../assets/games/istanbul/ruby.png');
    background-size: cover;
  }

  .goods {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-weight: bold;
    background-size: cover;
    margin: 2px;

    &.BLUE {
      background-image: url('../../../assets/games/istanbul/market/blue.png');
    }

    &.FABRIC {
      background-image: url('../../../assets/games/istanbul/market/fabric.png');
    }

    &.SPICE {
      background-image: url('../../../assets/games/istanbul/market/spice.png');
    }

    &.FRUIT {
      background-image: url('../../../assets/games/istanbul/market/fruit.png');
    }
  }

  .bonus-cards {
    button {
      width: 100px;
      height: 62px;

      border-radius: 5px;
      padding: 0;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75) !important;

      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
      }

      &:disabled {
        opacity: 1;
        border: none;
      }

      border: 2px solid white;

      &:hover {
        border-color: black;
      }
    }
  }
}
