<div class="modal-header">
  <h4 class="modal-title">
    {{'big-bazar.guessDialog'|translate}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{'big-bazar.guessSelect'|translate}}</p>
  <button *ngFor="let guess of [3,4,5,6,7,8,9,10,11,12]"
          class="btn btn-light"
          (click)="ngbActiveModal.close(guess)">
    {{guess}}
  </button>
</div>
<div class="modal-footer">
</div>
