:host {
  width: 100%;
}

.color {
  display: inline-block;
  width: 16px;
  height: 48px;
  float: left;

  &.RED {
    background-color: red;
  }

  &.BLUE {
    background-color: blue;
  }

  &.YELLOW {
    background-color: yellow;
  }

  &.WHITE {
    background-color: white;
  }
}

.RED {
  color: red;
}

.BLUE {
  color: blue;
}

.YELLOW {
  color: yellow;
}

.WHITE {
  color: white;
}

.cert-marker {

  stroke-width: 3;
  stroke: white;
  cursor: pointer;

  &:hover {
    stroke: black;
  }

  &.disabled {
    stroke: none;
    cursor: default;
  }

  &.unlocked {
    display: none;
  }
}

.player-board {
  width: 800px;
  height: 446px;

  &.BLUE {
    .cert-marker {
      fill: blue;
    }
  }

  &.RED {
    .cert-marker {
      fill: red;
    }
  }

  &.YELLOW {
    .cert-marker {
      fill: yellow;
    }
  }

  &.WHITE {
    .cert-marker {
      fill: white;
    }
  }
}

.draw-stack {
  margin-left: 20px;
}

.discard-pile {
  margin-left: 40px;
  opacity: 0.5;
}

.action {
  stroke-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  fill: rgb(0, 0, 0, 0.01);

  cursor: pointer;

  &.disabled {
    cursor: default;
    stroke: none;

    &:hover {
      stroke: none;
    }
  }

  &:hover {
    stroke: red;
  }
}

app-card {
  margin-right: 2px;
  border: 3px solid #ffffff;
  cursor: pointer;

  &:hover {
    border-color: black;
  }

  &.disabled {
    stroke: none;
    cursor: default;
    border-color: white;
  }
}

.worker, .hazard, .teepee {
  fill: rgb(0, 0, 0, 0.1);
  stroke: #ffffff;
  stroke-width: 2;
  cursor: pointer;

  &:hover {
    stroke: black;
  }

  &.disabled {
    stroke: none;
    cursor: default;
  }
}

.btn-buildings, .btn-buildings:hover {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-image: url('src/assets/games/gwt/icons/building.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.btn-objectives, .btn-objectives:hover {
  width: 40px;
  height: 40px;
  padding: 4px;
  background-image: url('src/assets/games/gwt/icons/objectives.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
}

.balance {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 4px;
  font-weight: bold;
  color: #ffffff;
  background-image: url('src/assets/games/gwt/icons/dollar.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  text-align: center;
  vertical-align: top;
  line-height: 20px;
  font-size: 20px;
  vertical-align: middle;
  line-height: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px black;
}

.hand-value {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 4px;
  font-weight: bold;
  color: #ffffff;
  background-image: url('src/assets/games/gwt/icons/hand.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  text-align: center;
  vertical-align: top;
  line-height: 20px;
  font-size: 20px;
  vertical-align: middle;
  line-height: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px black;
}

.certificates {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 4px;
  font-weight: bold;
  color: #ffffff;
  background-image: url('src/assets/games/gwt/icons/certificate.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: padding-box;
  text-align: center;
  vertical-align: top;
  line-height: 20px;
  font-size: 20px;
  vertical-align: middle;
  line-height: 30px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
  -webkit-text-stroke: 1px black;
}

