ol {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;

    margin: 0 2px;
  }
}

ds-initiative-marker {
  display: inline-block;
}

ds-action-pawn {
  display: inline-block;
  width: 32px;
  height: 32px;
}

ds-cube {
  display: inline-block;
  width: 32px;
  height: 32px;
}
