<app-in-game-player [player]="player"
                    [table]="table"
                    [score]="player.score">
  <main>
    <ol>
      <li>
        <ds-initiative-marker [animalType]="animal.type" [player]="animal.player"></ds-initiative-marker>
      </li>
      <li>
        <ds-action-pawn [animal]="animal" [player]="player">
          {{animal.actionPawns}}
        </ds-action-pawn>
      </li>
      <li>
        <ds-cube [animal]="animal"
                 [ngbPopover]="'ds.popover.genePool'|translate"
                 triggers="mouseenter:mouseleave"
                 container="body">
          {{animal.genePool}}
        </ds-cube>
      </li>
      <li>
        <ds-cube [animal]="animal"
                 [ngbPopover]="'ds.popover.eliminatedSpecies'|translate"
                 triggers="mouseenter:mouseleave"
                 container="body">
          {{-animal.eliminatedSpecies}}
        </ds-cube>
      </li>
    </ol>

    <ol class="elements">
      <li *ngFor="let elementType of animal.elements; index as index">
        <ds-element [elementType]="elementType"
                    [selectable]="index > 1 && canSelectElement"
                    (click)="index > 1 && canSelectElement && selectElement.emit(elementType)"></ds-element>
      </li>
    </ol>
  </main>
</app-in-game-player>
