<div class="modal-header">
  <h4 class="modal-title">
    {{'big-bazar.sellGoodsDialog'|translate}}
  </h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>{{'big-bazar.sellGoodsSelect'|translate}}</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div *ngFor="let goodsType of goodsTypes; trackBy: trackByValue" class="btn-group btn-group-toggle goods">
          <label *ngFor="let _ of demandModel[goodsType]; index as index; trackBy: trackByIndex"
                 ngbButtonLabel class="btn btn-primary" [class]="goodsType">
            <input ngbButton type="checkbox" [(ngModel)]="demandModel[goodsType][index]"/>
          </label>
        </div>

        <p>{{'big-bazar.sellGoodsReward'|translate:{reward: rewardForDemand} }}</p>

        <button class="btn btn-success" (click)="ngbActiveModal.close({goods:selectedGoods})"
                [disabled]="rewardForDemand === 0">
          {{'big-bazar.sellGoodsConfirm'|translate}}
        </button>
      </div>
      <div class="col-6" *ngIf="hasAnyGoodBonusCard">
        <p>{{'big-bazar.sellGoodsBonusCard'|translate}}</p>
        <img class="bonus-card" src="/assets/games/big-bazar/bonus/SMALL_MARKET_ANY_GOOD.png"/>
        <div *ngFor="let goodsType of goodsTypes; trackBy: trackByValue" class="btn-group btn-group-toggle goods">
          <label *ngFor="let _ of anyGoodsModel[goodsType]; index as index; trackBy: trackByIndex"
                 ngbButtonLabel class="btn btn-primary" [class]="goodsType">
            <input ngbButton type="checkbox" [(ngModel)]="anyGoodsModel[goodsType][index]"
                   [disabled]="!canSelectAny(goodsType, index)"/>
          </label>
        </div>

        <p>{{'big-bazar.sellGoodsReward'|translate:{reward: rewardForAnyGoods} }}</p>

        <button class="btn btn-success" (click)="ngbActiveModal.close({goods:selectedAnyGoods, bonusCard: bonusCard})"
                [disabled]="rewardForAnyGoods === 0">
          {{'big-bazar.sellGoodsConfirmBonusCard'|translate}}
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
