:host {
  width: 100%;
}

:host(.AUX_GAIN_DOLLAR-1) {
  .AUX_GAIN_DOLLAR-1 .unlocked {
    display: block;
  }

  .AUX_GAIN_DOLLAR-1 .locked {
    display: none;
  }
}

:host(.AUX_DRAW_CARD_TO_DISCARD_CARD-1) {
  .AUX_DRAW_CARD_TO_DISCARD_CARD-1 .unlocked {
    display: block;
  }

  .AUX_DRAW_CARD_TO_DISCARD_CARD-1 .locked {
    display: none;
  }
}

:host(.AUX_DRAW_CARD_TO_DISCARD_CARD-2) {
  .AUX_DRAW_CARD_TO_DISCARD_CARD-2 .unlocked {
    display: block;
  }

  .AUX_DRAW_CARD_TO_DISCARD_CARD-2 .locked {
    display: none;
  }
}

.unlocked {
  display: none;
}

.aux-action {
  cursor: pointer;
}

.hand {
  & > app-card {
    display: inline-block;
    margin: 4px;
  }
}

.color {
  display: inline-block;
  width: 16px;
  height: 16px;
  &.RED {background-color: red;}
  &.BLUE {background-color: blue;}
  &.YELLOW {background-color: yellow;}
  &.WHITE {background-color: white;}
}


.player-board {
  width: 800px;
  height: 446px;
  &.BLUE {   background-image: url(../../assets/player_board_blue.jpg); }
  &.RED {   background-image: url(../../assets/player_board_red.jpg); }
  &.YELLOW {   background-image: url(../../assets/player_board_yellow.jpg); }
  &.WHITE {   background-image: url(../../assets/player_board_white.jpg); }
}

.action {
  stroke-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  fill: none;
  fill: rgb(0, 0, 0, 0.01);

  cursor: pointer;

  &.disabled{
    cursor: default;
    stroke: none;
    &:hover {
      stroke:none;
    }
  }

  &:hover {
    stroke: red;
  }
}
