:host {
  width: 100%;
}

.color {
  display: inline-block;
  width: 16px;
  height: 16px;

  &.RED {
    background-color: red;
  }

  &.BLUE {
    background-color: blue;
  }

  &.YELLOW {
    background-color: yellow;
  }

  &.WHITE {
    background-color: white;
  }
}

.cert-marker {

  stroke-width: 3;
  stroke: white;
  cursor: pointer;

  &:hover {
    stroke: black;
  }

  &.disabled {
    stroke: none;
    cursor: default;
  }

  &.unlocked {
    display: none;
  }
}

.player-board {
  width: 800px;
  height: 446px;

  &.BLUE {
    .cert-marker {
      fill: blue;
    }
  }

  &.RED {
    .cert-marker {
      fill: red;
    }
  }

  &.YELLOW {
    .cert-marker {
      fill: yellow;
    }
  }

  &.WHITE {
    .cert-marker {
      fill: white;
    }
  }
}

.draw-stack {
  margin-left: 20px;
}

.discard-pile {
  margin-left: 40px;
  opacity: 0.5;
}

.action {
  stroke-opacity: 1;
  stroke: #ffffff;
  stroke-width: 2;
  fill: rgb(0, 0, 0, 0.01);

  cursor: pointer;

  &.disabled {
    cursor: default;
    stroke: none;

    &:hover {
      stroke: none;
    }
  }

  &:hover {
    stroke: red;
  }
}

app-card {
  margin-right: 2px;
  border: 3px solid #ffffff;
  cursor: pointer;

  &:hover {
    border-color: black;
  }

  &.disabled {
    stroke: none;
    cursor: default;
    border-color: white;
  }
}
