<div class="modal-header">
  <h4 class="modal-title">{{(titleKey || type + 'Dialog')|translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" [innerHTML]="messageKey|translate"></div>
<div class="modal-footer">
  <button (click)="ngbActiveModal.close()" class="btn btn-primary">
    {{(confirmKey || (type === 'confirm' ? 'confirm' : 'ok'))|translate}}
  </button>
  <button *ngIf="type === 'confirm'" (click)="ngbActiveModal.dismiss()" class="btn btn-secondary">
    {{(cancelKey || 'cancel')|translate}}
  </button>
</div>
