<div class="modal-header">
  <h4 class="modal-title">Deliver to {{possibleDelivery.city}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    Certificates:
    <input type="number" [(ngModel)]="certificates" [min]="possibleDelivery.certificates" [max]="playerState.certificates" [step]="1" name="certificates"/>
    Max {{playerState.certificates}}
  </form>
</div>
<div class="modal-footer">
</div>
