<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    Certificates:
    <input type="number" [(ngModel)]="certificates" [min]="0" [max]="playerState.certificates" [step]="1" name="certificates"/>
    Max {{playerState.certificates}}

    <button *ngFor="let unlockable of unlockables" (click)="confirm(certificates, unlockable)">{{unlockable}}</button>
  </form>
</div>
<div class="modal-footer">
</div>
