:host {
  width: 100%;
  display: block;
  background-color: #b0b0b0;
}

app-cattle-market {
  display: inline-block;
}

app-objective-cards {
  display: inline-block;
}

.action-bar {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75);
  top: 50px; /* always show the in game navbar */
  z-index: 999; /* op top of stuff, but underneath drop downs */
  margin-bottom: 8px; /* clear shadow */
  padding: 0.5em;

  .btn {
    margin: 2px;
  }

  .instruction {
    text-align: center;
  }

  .actions {
    text-align: center;

    button {
      margin: 4px;
    }
  }
}


