<app-in-game-navbar [table]="table"
                    [canSkip]="canSkip"
                    [busy]="busy"
                    (skip)="skip.emit($event)"
                    (endTurn)="doEndTurn()"
                    (undo)="undo.emit($event)">
</app-in-game-navbar>

<div class="action-bar sticky-top bg-secondary text-light d-flex justify-content-center flex-wrap">
  <div class="actions" *ngIf="table.turn && !selectedAction">
    <button *ngFor="let action of state.actions"
            class="btn btn-primary text-nowrap" (click)="selectAction(action)"
            [disabled]="busy"
            ngbPopover="{{table.game + '.actions.descriptions.' + action | translate}}"
            placement="bottom"
            triggers="mouseenter:mouseleave"
            container="body">
      {{table.game + '.actions.buttons.' + action|translate}}
    </button>

    <span *ngIf="!state.actions?.length">
      {{table.game + '.endTurn'|translate}}
    </span>
  </div>

  <p *ngIf="table.turn && selectedAction" class="instruction">
    <span>{{table.game + '.actions.instructions.' + selectedAction | translate}}</span>

    <button *ngIf="state.actions.length > 1"
            class="btn btn-primary"
            (click)="selectedAction = null">
      {{'cancel'|translate}}
    </button>
  </p>

  <gwt-bidding *ngIf="state.status === 'BIDDING'"
               [table]="table"
               [state]="state"
               (perform)="perform.emit($event)">
  </gwt-bidding>
</div>

<div class="row no-gutters align-items-start">
  <div class="col-md-8 col-sm-12">
    <app-trail [table]="table"
               [state]="state"
               [selectedAction]="selectedAction"
               (perform)="perform.emit($event)">
    </app-trail>

    <app-objective-cards [objectiveCards]="state.objectiveCards"
                         [selectedAction]="selectedAction"
                         (action)="perform.emit($event)">
    </app-objective-cards>

    <app-cattle-market [table]="table"
                       [state]="state"
                       [selectedAction]="selectedAction"
                       (perform)="perform.emit($event)">
    </app-cattle-market>
  </div>
  <div class="col-md-4 col-sm-12 player-boards">
    <app-player-board *ngIf="state.player"
                      [table]="table"
                      [state]="state"
                      [playerState]="state.player"
                      [actions]="state.actions"
                      [selectedAction]="selectedAction"
                      [readonly]="false"
                      (perform)="perform.emit($event)"
                      (selectAction)="selectAction($event)">
    </app-player-board>

    <div *ngFor="let playerState of state.otherPlayers; trackBy: trackPlayerState">
      <app-player-board [table]="table"
                        [state]="state"
                        [playerState]="playerState"
                        [readonly]="true">
      </app-player-board>
    </div>

    <app-log [table]="table"></app-log>
  </div>
</div>

