<router-outlet></router-outlet>

<app-toastr></app-toastr>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <a [routerLink]="['/about']">{{'about.title'|translate}}</a><br/>
        <a [routerLink]="['/faq']">FAQ</a><br/>
        <a [routerLink]="['/privacy']">Privacy</a><br/>
        <a [routerLink]="['/terms']">Terms of Use</a><br/>
        <a [routerLink]="['/contact']">{{'contact.title'|translate}}</a>
      </div>
      <div class="col-4">

      </div>
      <div class="col-4 text-right">

      </div>
    </div>
  </div>
</footer>
