<div class="modal-header">
  <h4
    class="modal-title">{{'gwt.deliverDialog'|translate:{city: 'gwt.log.values.' + possibleDelivery.city|translate} }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <p *ngIf="possibleDelivery.certificates > 0">
      {{'gwt.deliverRequiresCertificates'|translate:{
      atLeast: possibleDelivery.certificates,
      city: 'gwt.log.values.' + possibleDelivery.city|translate
    } }}
    </p>
    <p *ngIf="possibleDelivery.certificates < playerState.certificates">
      {{'gwt.deliverOptionalCertificates'|translate:{city: 'gwt.log.values.' + possibleDelivery.city|translate} }}
    </p>

    <p>
      {{'gwt.spendCertificates'|translate}}
    <table class="table table-sm">
      <thead class="thead-dark">
      <tr>
        <th></th>
        <th [colSpan]="perm.length">{{'gwt.permCertificates'|translate}}</th>
        <th [colSpan]="both.length">{{'gwt.tempCertificates'|translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td *ngFor="let option of perm" class="text-center">
          <button class="btn btn-success"
                  [disabled]="option.perm < possibleDelivery.certificates"
                  (click)="ngbActiveModal.close(option.perm)">
            {{option.perm}}
          </button>
        </td>
        <td *ngFor="let option of both" class="text-center">
          <button class="btn btn-warning"
                  [disabled]="option.perm + option.temp < possibleDelivery.certificates"
                  (click)="ngbActiveModal.close(option.perm + option.temp)">
            -{{option.temp}}
          </button>
        </td>
      </tr>
      <tr class="thead-dark">
        <th>{{'gwt.totalCertificates' |translate}}</th>
        <th *ngFor="let option of perm" class="text-center">
          <strong>{{option.perm}}</strong>
        </th>
        <th *ngFor="let option of both" class="text-center">
          <strong>{{option.perm + option.temp}}</strong>
        </th>
      </tr>
      </tbody>
    </table>
  </form>
</div>
