:host {
  display: block;
  width: 100%;
  min-height: 871px;
  height: calc(100vh - 70px);
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #e9d6ab;
}

pan-zoom {
  display: block;
  width: 100%;
  height: 100%;
}

.hexagon {
  polygon {
    fill: #f3edd7;
    stroke: #e8e2cc;
    stroke-width: 1;
    paint-order: fill stroke markers;
  }

  &.selectable {
    polygon {
      stroke: white;
      stroke-width: 3px;
      cursor: pointer;
    }

    &:hover {
      polygon {
        stroke: black;
      }

      &.JUNGLE {
        polygon {
          fill: darkgreen;
        }
      }

      &.FOREST {
        polygon {
          fill: green;
        }
      }

      &.SAVANNAH {
        polygon {
          fill: lightgreen;
        }
      }

      &.WETLAND {
        polygon {
          fill: lightblue;
        }
      }

      &.SEA {
        polygon {
          fill: blue;
        }
      }

      &.MOUNTAIN {
        polygon {
          fill: saddlebrown;
        }
      }

      &.DESERT {
        polygon {
          fill: sandybrown;
        }
      }
    }
  }
}

.tile {
  .terrain {
    stroke-width: 1px;

    &.JUNGLE {
      //fill: darkgreen;
      stroke: #355a3a;
    }

    &.FOREST {
      //fill: green;
      stroke: #425031;
    }

    &.SAVANNAH {
      //fill: lightgreen;
      stroke: #3b5234;
    }

    &.WETLAND {
      //fill: lightblue;
      stroke: #324554;
    }

    &.SEA {
      //fill: blue;
      stroke: #397897;
    }

    &.MOUNTAIN {
      //fill: saddlebrown;
      stroke: #5a5738;
    }

    &.DESERT {
      //fill: sandybrown;
      stroke: #564a33;
    }
  }

  .tundra {
    //fill: lightgrey;
    stroke-width: 1px;
    stroke: #333e54;
  }

  &.selectable {
    .terrain {
      stroke: white;
      stroke-width: 3px;
      cursor: pointer;
    }

    .tundra {
      cursor: pointer;
    }

    &:hover {
      .terrain {
        stroke: black;
      }
    }
  }

  &.selected {
    .terrain {
      stroke: black;
      stroke-width: 3px;
    }
  }
}

.element {
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));

  &.GRASS {
    fill: green;
  }

  &.GRUB {
    fill: hotpink;
  }

  &.MEAT {
    fill: grey;
  }

  &.SUN {
    fill: orangered;
  }

  &.WATER {
    fill: blue;
  }

  &.SEED {
    fill: gold;
  }

  &.selectable {
    stroke: white;
    stroke-width: 6px;
    cursor: pointer;

    &:hover {
      stroke: black;
    }
  }

  &.selected {
    stroke: black;
    stroke-width: 3px;

    animation: blinker 1s linear infinite;
  }
}

@keyframes blinker {
  50% {
    opacity: 0.8;
  }
}

.corner {
  fill: white;
  fill-opacity: 0.01; /* >0 so the entire circle becomes a hit box */
  stroke: white;
  stroke-width: 3px;
  cursor: pointer;

  image {
    visibility: hidden;
  }

  &:hover {
    stroke: black;

    image {
     visibility: visible;
    }

    &.GRASS {
      fill-opacity: 1;
      fill: green;
    }

    &.GRUB {
      fill-opacity: 1;
      fill: hotpink;
    }

    &.MEAT {
      fill-opacity: 1;
      fill: grey;
    }

    &.SUN {
      fill-opacity: 1;
      fill: orangered;
    }

    &.WATER {
      fill-opacity: 1;
      fill: blue;
    }

    &.SEED {
      fill-opacity: 1;
      fill: gold;
    }
  }
}

ds-action-display {
  position: absolute;
  top: 8px;
  right: 8px;
}

ds-food-chain {
  position: absolute;
  left: 8px;
  top: 48px;
}

ds-scoring-table {
  position: absolute;
  left: 8px;
  top: 400px;
}

ds-bonus-points-table {
  position: absolute;
  bottom: 16px;
  left: 8px;
}

ds-wanderlust-tiles {
  position: absolute;
  right: 564px;
  bottom: 34px;
  width: 300px;
  height: 85px;
}
