<div class="container" *ngIf="game$ | async as game">
  <div class="jumbotron">
    <h5>{{'game.' + game.id + '.name'|translate}}</h5>
    <hr class="my-4">
    <p>
      <img src="/assets/games/{{game.id}}/box.png" class="box"/>
      <span [innerHTML]="'game.' + game.id + '.description'|translate"></span>
    </p>
    <button class="btn btn-primary" (click)="play(game)">{{'play'|translate}}</button>
  </div>

  <section *ngIf="game.id === 'gwt'">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/games/gwt/screenshots/screenshot1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Full graphical board and automated setup</h3>
          <p>Every part of the game is available in high resolution graphics.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/games/gwt/screenshots/screenshot2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Beginner game or randomized</h3>
          <p>Each player has own set of buildings available to build</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/games/gwt/screenshots/screenshot3.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Action system</h3>
          <p>Sophisticated action system with fully implemented rules, so the system indicates what actions are
            possible.</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <ng-container *ngIf="loggedIn$ | async">
      <h2>Top 10 Players</h2>
      <p>
        <app-ranking [gameId]="game.id"></app-ranking>
      </p>
    </ng-container>

    <h2>Rules</h2>
    <p>To be described.</p>

    <h2>Known Issues</h2>
    <ul>
      <li>The "computer" player is currently very dumb. It only moves forward 1 step at a time and always delivers to
        Kansas City.
      </li>
    </ul>

    <h2>Scoring</h2>
    <p>
      While the game is in progress, the score is calculated the same way it is calculated at the end of the game.
    </p>
    <p>
      That means your current balance is counted towards points. Which may cause your score to go down when you spend
      these dollars.
    </p>
    <p>
      Also any objective cards you have already played, but are not yet completed, may deduct some points from your
      running score.Of course during the game you still have opportunities to complete these objective cards.
      <br/><br/>
      Objective cards that are in your deck, are added to your score if you have completed them already.
      <br/>
      <strong>The system automatically figures out what combination of objective cards (committed and optional) gives
        you the best
        score.</strong>
    </p>

    <h2>Frequently Asked Questions</h2>
    <dl>
      <dt>When delivering to a city, why is my disc already placed on the city, while I have not picked one yet?</dt>
      <dd>
        This has a technical reason. Because of the way the action system is implemented, the system cannot "remember"
        which city it has to drop the disc on after you have picked it from your player board.
        That's why it places one immediately on the city, and then asks you to remove one from your player board,
        instead of moving it.
      </dd>
      <dt>When moving my rancher, why does the system ask which route to take, even when it costs more or the same?</dt>
      <dd>
        Sometimes you may want to rather pay the bank instead of an opponent.
        Or you may want to lose some dollars before passing an opponents building, preventing them from receiving money.
      </dd>
      <dt>Why do I not get to pick which objective cards to use and which ones to ignore?</dt>
      <dd>
        Objective cards that you have played during your turn are considered "committed" and must be completed in order
        to gain the points,
        else you will get a penalty. The objective cards that you still have in your deck are considered optional. If
        completed, you gain the points,
        else they are simply ignored.
        <br/><br/>
        The system automatically figures out what combination of objective cards (committed and optional) gives you the
        maximum possible score.
        <br/>
        So let's say you have 2 objective cards that both require 2 buildings. If you have only 2 buildings built, the
        system will count the objective card that gives you the most points (taking penalty into account).
      </dd>
    </dl>
  </section>

</div>
