<div class="container" *ngIf="game$ | async as game">
  <div class="jumbotron">
    <h5>{{'game.' + game.id + '.name'|translate}}</h5>
    <hr class="my-4">
    <p>
      <img src="/assets/games/{{game.id}}/box.png" class="box"/>
      <span [innerHTML]="'game.' + game.id + '.description'|translate"></span>
    </p>
    <button class="btn btn-primary" (click)="play(game)">{{'play'|translate}}</button>
  </div>

  <section *ngIf="game.id === 'gwt'">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/games/gwt/screenshots/screenshot1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Full graphical board and automated setup</h3>
          <p>Every part of the game is available in high resolution graphics.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="/assets/games/gwt/screenshots/screenshot2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Northern Railroads expansion</h3>
          <p>More strategic options with the Northern Railroad expansion.</p>
        </div>
      </ng-template>
    </ngb-carousel>

    <ng-container *ngIf="loggedIn$ | async">
      <h2>Top 10 Players</h2>
      <p>
        <app-ranking [gameId]="game.id"></app-ranking>
      </p>
    </ng-container>

    <h2>Rules</h2>
    <p>To be described.</p>

    <h2>Frequently Asked Questions</h2>
    <dl>
      <dt>What is the 'Better balanced for 2/3p' variant?</dt>
      <dd>
        Read this <a href="https://boardgamegeek.com/thread/1665842/less-tiles-when-playing-2-or-3-players"
                     target="_new">thread</a> on Board Game Geek.
        <br/>
        The tiles in the Kansas City supply and the cattle cards in the cattle market are adjusted to approximate the
        ratios of a 4 player game.
      </dd>
      <dt>What do the difficulty levels (computer) mean? How does the computer play?</dt>
      <dd>
        <p>The computer player is inspired by <a
        href="https://boardgamegeek.com/filepage/151608/garth-specialized-automa-gwt-solo-play" target="_new">Garth --
          Specialized Automa for GWT Solo Play</a>.</p>
        <p>The computer is not bound to the same rules as you. Instead it its own deck of 'automa cards' that dictate which actions it does.
        That means it can perform certain actions even though the computer is not currently at the appropriate building.
        While this may seem weird at first, it actually has the same effects as playing a human player.
        </p>
        <p>You can select the difficulty of the computer before starting a game:</p>
        <ul>
          <li>Easy: computer automatically makes his first delivery to Wichita / Chicago.</li>
          <li>Medium: computer starts with 1 employee of his specialization and makes
          his first delivery to Colorado Springs / Chicago (and will skip Detroit).</li>
          <li>Hard: computer starts with 2 different random employee tiles and makes his first delivery to
          Albuquerque / Cleveland.</li>
          <li>Very Hard: computer starts with 1 employee tile of each type and a 2nd tile of a random type
          (4 employee tiles total) and makes his first delivery to Albuquerque / Cleveland.</li>
        </ul>
        <p>The computer's score is calculated mostly normally. He does not score for money, removing the 3VP
          disk, or station master tiles. He scores positive points for all objectives, as though they were
          all completed. When playing with the expansion, if the computer was forced to deliver to San
          Francisco because he had already delivered to New York City and every available big town,
          he gains 6 VP for each disk placed there (even if no branchlet was placed there).</p>
      </dd>
      <dt>What is strategic mode?</dt>
      <dd>
        When in strategic mode (as opposed to original mode), some things that would require manual book keeping are now
        calculated by the server:
        <ul>
          <li>A running score is shown while playing.</li>
          <li>Players can go through the discard pile of other players
          <li>Players can view their own draw stack (in randomized order) and those of other players.</li>
        </ul>
      </dd>
      <dt>When delivering to a city, why is my disc already placed on the city, while I have not picked one yet?</dt>
      <dd>
        This has a technical reason. Because of the way the action system is implemented, the system cannot "remember"
        which city it has to drop the disc on after you have picked it from your player board.
        That's why it places one immediately on the city, and then asks you to remove one from your player board,
        instead of moving it.
      </dd>
      <dt>When moving my rancher, why does the system ask which route to take, even when it costs more or the same?</dt>
      <dd>
        Sometimes you may want to rather pay the bank instead of an opponent.
        Or you may want to lose some dollars before passing an opponents building, preventing them from receiving money.
      </dd>
      <dt>Why do I not get to pick which objective cards to use and which ones to ignore?</dt>
      <dd>
        Objective cards that you have played during your turn are considered "committed" and must be completed in order
        to gain the points,
        else you will get a penalty. The objective cards that you still have in your deck are considered optional. If
        completed, you gain the points,
        else they are simply ignored.
        <br/><br/>
        The system automatically figures out what combination of objective cards (committed and optional) gives you the
        maximum possible score.
        <br/>
        So let's say you have 2 objective cards that both require 2 buildings. If you have only 2 buildings built, the
        system will count the objective card that gives you the most points (taking penalty into account).
      </dd>
    </dl>

    <h2>Scoring</h2>
    <p>
      While the game is in progress, the score is calculated the same way it is calculated at the end of the game.
    </p>
    <p>
      That means your current balance is counted towards points. Which may cause your score to go down when you spend
      these dollars.
    </p>
    <p>
      Also any objective cards you have already played, but are not yet completed, may deduct some points from your
      running score.Of course during the game you still have opportunities to complete these objective cards.
      <br/><br/>
      Objective cards that are in your deck, are added to your score if you have completed them already.
      <br/>
      <strong>The system automatically figures out what combination of objective cards (committed and optional) gives
        you the best
        score.</strong>
    </p>
  </section>

</div>
