.box {
  width: 200px;
  height: 200px;
  text-align: left;
  float: left;
  padding: 10px;
}

.picsum-img-wrapper {
  text-align: center;
}

.carousel-caption {
  background-color: rgb(0,0,0,0.5);

  h3 {
    color: white;
  }
}
