<ng-container *ngIf="building; else noBuilding">
  <ng-container *ngIf="building.player; else neutralBuilding">
    <app-player-name [player]="table.players[building.player.name]"></app-player-name>
    <gwt-building-popover [building]="building.name" [color]="building.player.color"></gwt-building-popover>
    <span *ngIf="risk" [innerHTML]="'gwt.popover.location.' + location|translate"></span>
  </ng-container>
  <ng-template #neutralBuilding>
    <gwt-building-popover [building]="building.name"></gwt-building-popover>
  </ng-template>
</ng-container>
<ng-template #noBuilding>
  <span [innerHTML]="'gwt.popover.building.null'|translate"></span>
  <span *ngIf="risk" [innerHTML]="'gwt.popover.location.' + location|translate"></span>
</ng-template>
