<div class="modal-header">
  <h4 class="modal-title">{{playerState.player.user ? playerState.player.user.username : 'Computer'}}'s Buildings Available</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <button *ngFor="let playerBuilding of playerState.buildings" [class]="'building ' + playerState.player.color.toString().toLowerCase() + '-' + playerBuilding.toLowerCase()"
          (click)="confirm(playerBuilding)">
  </button>
</div>
<div class="modal-footer">
</div>
