:host {
  display: inline-block;
  position: relative;
}

app-card {
  //float:left;
  position: absolute;
  left: 0;

  max-width: 100%;
  max-height: 100%;

  @for $i from 2 through 100 {
    &:nth-child(#{$i}) {
      left: 0;
      //margin-left: 100% -#{$i}px;
    }
  }
}

.size {
  position: absolute;
  top: 25%;
  right: 0;
  width: 100%;

  text-align: center;
  vertical-align: middle;

  color: #ffffff;
}
