<div *ngIf="state">
  <div class="row no-gutters" *ngIf="state.turn">
    <form>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="selectedAction">
      <label ngbButtonLabel class="btn-primary" *ngFor="let actionType of state.actions" >
        <input ngbButton type="radio" [value]="actionType" (click)="chooseAction(actionType)"> {{actionType}}
      </label>
    </div>
    </form>
  </div>

  <div class="row no-gutters align-items-start">
    <div class="col-8">
      <app-trail [game]="game"
                 [state]="state"
                 [selectedAction]="selectedAction"
                 (action)="action.emit($event)">
      </app-trail>
    </div>
    <div class="col-4">
      <app-player-board [playerState]="state.player"
                        [actions]="state.actions"
                        [selectedAction]="selectedAction"
                        (action)="action.emit($event)">
      </app-player-board>

      <div *ngFor="let player of state.otherPlayers | keyvalue">
        <app-player-board [playerState]="player.value">
        </app-player-board>
      </div>
    </div>
  </div>
</div>


