<div *ngIf="state">
  <div class="row no-gutters align-items-start">
    <div class="col-8">
      <app-trail [game]="game"
                 [state]="state"
                 [selectedAction]="selectedAction"
                 (action)="perform($event)">
      </app-trail>

      <app-cattle-market [cattleMarket]="state.cattleMarket"></app-cattle-market>
    </div>
    <div class="col-4">
      <app-player-board [playerState]="state.player"
                        [actions]="state.actions"
                        [selectedAction]="selectedAction"
                        (action)="perform($event)">
      </app-player-board>

      <div *ngFor="let player of state.otherPlayers | keyvalue">
        <app-player-board [playerState]="player.value">
        </app-player-board>
      </div>
    </div>
  </div>
</div>


