.goods {
  display: block;

  .btn-primary {
    width: 32px;
    height: 32px;

    background-size: cover;

    &.FABRIC {
      background-image: url('../../../assets/games/istanbul/market/fabric.png');
    }

    &.SPICE {
      background-image: url('../../../assets/games/istanbul/market/spice.png');
    }

    &.FRUIT {
      background-image: url('../../../assets/games/istanbul/market/fruit.png');
    }

    &.BLUE {
      background-image: url('../../../assets/games/istanbul/market/blue.png');
    }

    &.active {
      border: 2px solid black;
      border-radius: 4px;
    }
  }
}

.bonus-card {
  width: 200px;
  height: 124px;
}
