:host {
  background-image: url('../../../assets/games/ds/leaf.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 48px;
  height: 48px;
  padding: 4px;
}
