<div *ngIf="buyingCattle">
  <span [innerHTML]="'gwt.cattleMarket.select'|translate"></span>
  <button class="btn btn-primary" [disabled]="!canConfirm"
          (click)="confirm()">{{'gwt.cattleMarket.buy'|translate}}</button>
</div>

<div class="cards" [ngClass]="{buying:buyingCattle, selecting:selectedCards.length > 0}">
  <app-card *ngFor="let card of state.cattleMarket.cards"
            [card]="card"
            [ngClass]="{
          disabled:!canSelectCard(card),
          selected:isSelected(card)
          }"
            (click)="selectCard(card)"></app-card>

  <app-card-stack (click)="showDrawStack()" [ngClass]="{disabled:!state.cattleMarket.drawStack}"
                  [size]="state.cattleMarket.drawStackSize" [emptyType]="'CATTLE'"></app-card-stack>
</div>
