<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary justify-content-between">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="btn btn-secondary" [routerLink]="['/']">{{'back'|translate}}</a>&nbsp;
    </li>
    <li class="nav-item">
      <a class="btn btn-danger text-light" *ngIf="table.turn" (click)="endTurn.emit()">{{'endTurn'|translate}}</a>&nbsp;
      <button class="btn btn-warning" *ngIf="canSkip" (click)="skip.emit()">{{'skip'|translate}}</button>&nbsp;
    </li>
  </ul>

  <div *ngIf="!table.turn && table.currentPlayer">
    {{'waitingFor'|translate}}
    <app-player-name [player]="table.players[table.currentPlayer]"></app-player-name>
  </div>

  <div class="actions">
    <ng-container *ngIf="table.turn && !selectedAction">
      <button *ngFor="let action of actions"
              class="btn btn-light" (click)="perform.emit(action)"
              ngbPopover="{{table.game + '.actions.descriptions.' + action | translate}}"
              placement="bottom"
              triggers="mouseenter:mouseleave"
              container="body">
        {{table.game + '.actions.buttons.' + action|translate}}
      </button>
    </ng-container>

    <ng-container *ngIf="table.turn && selectedAction">
      {{table.game + '.actions.instructions.' + selectedAction | translate}}

      <button *ngIf="actions.length > 1"
              class="btn btn-secondary"
              (click)="cancel.emit()">
        {{'cancel'|translate}}
      </button>
    </ng-container>
  </div>

  <div class="form-inline">
    <span *ngIf="table.turn">
      {{'yourTurn'|translate}}

      <app-timer [end]="table.players[table.player].turnLimit"></app-timer>
    </span>
    &nbsp;
    <app-connection-status></app-connection-status>

    <app-in-game-menu [table]="table"></app-in-game-menu>
  </div>
</nav>
