<div class="sticky-top">
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid no-gutters p-0">
      <div class="col-lg-4 col-md-6 col-sm-8 d-flex justify-content-start">
        <a class="btn btn-secondary text-nowrap" [routerLink]="['/']">
          <svg class="bi" width="16" height="16" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#arrow-left"/>
          </svg>
          <span class="d-none d-lg-inline">{{'back'|translate}}</span>
        </a>&nbsp;
        <button class="btn btn-danger text-light text-nowrap"
                *ngIf="table.turn"
                [disabled]="busy"
                (click)="endTurn.emit()">
          {{'endTurn'|translate}}
        </button>&nbsp;
        <button class="btn btn-warning text-nowrap" *ngIf="table.turn"
                [disabled]="busy || !canSkip"
                (click)="skip.emit()">
          {{'skip'|translate}}
        </button>&nbsp;
        <button class="btn btn-secondary text-nowrap"
                *ngIf="table.turn && table.canUndo"
                [disabled]="busy"
                (click)="undo.emit()" [title]="'undo'|translate">
          <svg class="bi" width="16" height="16" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#chevron-bar-left"/>
          </svg>
          <span class="d-none d-md-inline">{{'undo'|translate}}</span>
        </button>&nbsp;
      </div>
      <div class="col-lg-4 col-md-4 d-none d-lg-flex justify-content-center">
        <span *ngIf="busy">
          {{'busy'|translate}}
        </span>
        <ng-container *ngIf="!busy">
          <span *ngIf="table.turn">
            {{'yourTurn'|translate}}

            <app-timer [end]="table.players[table.player].turnLimit"></app-timer>
          </span>
          <div *ngIf="!table.turn && table.currentPlayer">
            {{'waitingFor'|translate}}
            <app-player-name [player]="table.players[table.currentPlayer]"></app-player-name>
          </div>
        </ng-container>
      </div>
      <div class="col-lg-4 col-md-2 col-sm-2 d-flex justify-content-end align-content-center">
        <button class="btn btn-sm d-none d-md-inline-block" *ngIf="!muted" (click)="mute()"
                [ngbPopover]="'in-game-navbar.mutePopover'|translate"
                triggers="hover">
          <svg class="bi text-white" width="24" height="24" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#volume-up-fill"/>
          </svg>
        </button>
        <button class="btn btn-sm d-none d-md-inline-block" *ngIf="muted" (click)="unmute()"
                [ngbPopover]="'in-game-navbar.unmutePopover'|translate"
                triggers="hover">
          <svg class="bi text-black-50" width="24" height="24" fill="currentColor">
            <use xlink:href="/assets/bootstrap-icons.svg#volume-mute-fill"/>
          </svg>
        </button>

        <app-connection-status class="d-none d-md-inline-block"></app-connection-status>

        <app-in-game-menu [table]="table"></app-in-game-menu>
      </div>
    </div>
  </nav>
</div>
