<div *ngFor="let logEntry of logEntries" [ngSwitch]="logEntry.type">
  <span class="timestamp">{{logEntry.timestamp | date:'mediumTime'}}</span>
  <span class="player" [class]="logEntry.player.color">{{logEntry.player.user ? logEntry.player.user.username : 'Computer' }}:</span>
  <span *ngSwitchCase="'ACTION'">
      {{'log.' + logEntry.type + '.' + logEntry.values[0] | translate:{value1: logEntry.values[1], value2: logEntry.values[2], value3: logEntry.values[3]} }}
    </span>
  <span *ngSwitchDefault>
      {{'log.' + logEntry.type | translate:{value1: logEntry.values[0] || '', value2: logEntry.values[1] || '', value3: logEntry.values[2] || ''} }}
    </span>
</div>
