<ng-container *ngIf="table$|async as table">
  <ng-container *ngIf="state$|async as state">
    <app-in-game-navbar [table]="table"
                        [canSkip]="!!selectedAction"
                        [autoEndTurn]="canAutoEndTurn(table, state)"
                        [busy]="busy"
                        (endTurn)="endTurn(table)"
                        (skip)="skip(table)"
                        (undo)="undo(table)">
    </app-in-game-navbar>

    <div>
      <div class="row no-gutters">
        <div class="col-10">
          <ds-board [table]="table"
                    [state]="state"
                    [(selectedAction)]="selectedAction"
                    (perform)="perform($event, table)">
          </ds-board>
        </div>
        <div class="col-2">
          <ds-player *ngIf="table.player"
                     [player]="table.players[table.player]"
                     [animal]="state.animals[state.players[table.player]]"
                     [table]="table"
                     [state]="state"
                     (selectElement)="selectElement($event, table)">
          </ds-player>

          <ds-player *ngFor="let otherPlayerId of table.otherPlayers"
                     [player]="table.players[otherPlayerId]"
                     [animal]="state.animals[state.players[otherPlayerId]]"
                     [table]="table"
                     [state]="state">
          </ds-player>

          <app-log [table]="table"></app-log>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>
