:host {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 80px;
  height: 115px;

  color: #ffffff;

  background-size: cover;
  background-position: center;

  position: relative;

  .points {
    position: absolute;
    left: 16px;
    top: 76px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  &.back {
    background-image: url(src/assets/games/gwt/cards/back.png);
  }

  &.back_grey {
    background-image: url(src/assets/games/gwt/cards/back_grey.png);
  }

  &.BLACK_ANGUS {
    background-color: black;
    background-image: url(src/assets/games/gwt/cards/black_angus.png);
  }

  &.BROWN_SWISS {
    background-color: red;
    background-image: url(src/assets/games/gwt/cards/brown_swiss.png);
  }

  &.DUTCH_BELT {
    background-color: green;
    background-image: url(src/assets/games/gwt/cards/dutch_belt.png);
  }

  &.AYRSHIRE {
    background-color: blue;
    background-image: url(src/assets/games/gwt/cards/ayrshire.png);
  }

  &.GUERNSEY {
    background-color: white;
    background-image: url(src/assets/games/gwt/cards/guernsey.png);
  }

  &.JERSEY {
    background-color: grey;
    background-image: url(src/assets/games/gwt/cards/jersey.png);
  }

  &.HOLSTEIN {
    background-color: yellow;
    background-image: url(src/assets/games/gwt/cards/holstein.png);
  }

  &.WEST_HIGHLAND {
    background-color: brown;
    background-image: url(src/assets/games/gwt/cards/west_highland.png);
  }

  &.TEXAS_LONGHORN {
    background-color: purple;
    background-image: url(src/assets/games/gwt/cards/texas_longhorn.png);
  }

  &.GAIN_2_DOLLARS_4_H_H {
    background-image: url(src/assets/games/gwt/cards/2_4hh.png);
  }

  &.GAIN_2_DOLLARS_3_3_3_B {
    background-image: url(src/assets/games/gwt/cards/2_333b.png);
  }

  &.GAIN_2_DOLLARS_B_BLUE_BLUE {
    background-image: url(src/assets/games/gwt/cards/2_bblbl.png);
  }

  &.GAIN_2_DOLLARS_B_GREEN_BLUE {
    background-image: url(src/assets/games/gwt/cards/2_bgbl.png);
  }

  &.GAIN_2_DOLLARS_S_S_H {
    background-image: url(src/assets/games/gwt/cards/2_ssh.png);
  }

  &.SINGLE_OR_DOUBLE_AUXILIARY_ACTION_SAN_FRANCISCO {
    background-image: url(src/assets/games/gwt/cards/aux_sf.png);
  }

  &.DRAW_CARD_5_H {
    background-image: url(src/assets/games/gwt/cards/draw_5h.png);
  }

  &.DRAW_CARD_3_3_3_S {
    background-image: url(src/assets/games/gwt/cards/draw_333s.png);
  }

  &.DRAW_CARD_B_B_H {
    background-image: url(src/assets/games/gwt/cards/draw_bbh.png);
  }

  &.DRAW_CARD_S_GREEN_BLUE {
    background-image: url(src/assets/games/gwt/cards/draw_sgbl.png);
  }
  &.DRAW_CARD_S_GREEN_GREEN{
    background-image: url(src/assets/games/gwt/cards/draw_sgg.png);
  }
  &.ENGINE_4_4_S_GREEN{
    background-image: url(src/assets/games/gwt/cards/engine_44sg.png);
  }
  &.ENGINE_3_4_5{
    background-image: url(src/assets/games/gwt/cards/engine_345.png);
  }
  &.ENGINE_B_B_GREEN_GREEN{
    background-image: url(src/assets/games/gwt/cards/engine_bbgg.png);
  }
  &.ENGINE_B_BLUE_H_H{
    background-image: url(src/assets/games/gwt/cards/engine_bblhh.png);
  }
  &.ENGINE_S_S_H_H{
    background-image: url(src/assets/games/gwt/cards/engine_sshh.png);
  }
  &.MOVE_3_4_H_H{
    background-image: url(src/assets/games/gwt/cards/move_34hh.png);
  }
  &.MOVE_3_4_5{
    background-image: url(src/assets/games/gwt/cards/move_345.png);
  }
  &.MOVE_B_B_H_H{
    background-image: url(src/assets/games/gwt/cards/move_bbhh.png);
  }
  &.MOVE_S_S_B_B{
    background-image: url(src/assets/games/gwt/cards/move_ssbb.png);
  }
  &.MOVE_S_S_BLUE_BLUE{
    background-image: url(src/assets/games/gwt/cards/move_ssblbl.png);
  }
  &.START_B_3_4 {
    background-image: url(src/assets/games/gwt/cards/start_34b.png);
  }
  &.START_B_B_H {
    background-image: url(src/assets/games/gwt/cards/start_bbh.png);
  }
  &.START_BLUE_H_H {
    background-image: url(src/assets/games/gwt/cards/start_blhh.png);
  }
  &.START_S_S_GREEN {
    background-image: url(src/assets/games/gwt/cards/start_ssg.png);
  }
}
