:host {
  display: block;
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 80px;
  height: 120px;

  color: #ffffff;

  background-size: contain;
  background-position: center;

  position: relative;

  .points {
    position: absolute;
    left: 16px;
    top: 76px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  &.back {
    background-image: url(src/assets/games/gwt/cards/back.jpg);
  }

  &.back_grey {
    background-image: url(src/assets/games/gwt/cards/back_grey.jpg);
  }

  &.BLACK_ANGUS {
    background-color: black;
    background-image: url(src/assets/games/gwt/cards/black_angus.jpg);
  }

  &.BROWN_SWISS {
    background-color: black;
    background-image: url(src/assets/games/gwt/cards/brown_swiss.jpg);
  }

  &.DUTCH_BELT {
    background-color: green;
    background-image: url(src/assets/games/gwt/cards/dutch_belt.jpg);
  }

  &.AYRSHIRE {
    background-color: blue;
    background-image: url(src/assets/games/gwt/cards/ayrshire.jpg);
  }

  &.GUERNSEY {
    background-color: white;
    background-image: url(src/assets/games/gwt/cards/guernsey.jpg);
  }

  &.JERSEY {
    background-color: grey;
    background-image: url(src/assets/games/gwt/cards/jersey.jpg);
  }

  &.HOLSTEIN {
    background-color: red;
    background-image: url(src/assets/games/gwt/cards/holstein.jpg);
  }

  &.WEST_HIGHLAND {
    background-color: brown;
    background-image: url(src/assets/games/gwt/cards/west_highland.jpg);
  }

  &.TEXAS_LONGHORN {
    background-color: purple;
    background-image: url(src/assets/games/gwt/cards/texas_longhorn.jpg)
  }

  &.GAIN_2_DOLLARS_4_H_H {
    background-image: url(src/assets/games/gwt/cards/2_4hh.jpg)
  }

  &.GAIN_2_DOLLARS_3_3_3_B {
    background-image: url(src/assets/games/gwt/cards/2_333b.jpg)
  }

  &.GAIN_2_DOLLARS_B_BLUE_BLUE {
    background-image: url(src/assets/games/gwt/cards/2_bblbl.jpg)
  }

  &.GAIN_2_DOLLARS_B_GREEN_BLUE {
    background-image: url(src/assets/games/gwt/cards/2_bgbl.jpg)
  }

  &.GAIN_2_DOLLARS_S_S_H {
    background-image: url(src/assets/games/gwt/cards/2_ssh.jpg)
  }

  &.SINGLE_OR_DOUBLE_AUXILIARY_ACTION_SAN_FRANCISCO {
    background-image: url(src/assets/games/gwt/cards/aux_sf.jpg)
  }

  &.DRAW_CARD_5_H {
    background-image: url(src/assets/games/gwt/cards/draw_5h.jpg)
  }

  &.DRAW_CARD_3_3_3_S {
    background-image: url(src/assets/games/gwt/cards/draw_333s.jpg)
  }

  &.DRAW_CARD_B_B_H {
    background-image: url(src/assets/games/gwt/cards/draw_bbh.jpg)
  }

  &.DRAW_CARD_S_GREEN_BLUE {
    background-image: url(src/assets/games/gwt/cards/draw_sgbl.jpg)
  }
  &.DRAW_CARD_S_GREEN_GREEN{
    background-image: url(src/assets/games/gwt/cards/draw_sgg.jpg)
  }
  &.ENGINE_4_4_S_GREEN{
    background-image: url(src/assets/games/gwt/cards/engine_44sg.jpg)
  }
  &.ENGINE_3_4_5{
    background-image: url(src/assets/games/gwt/cards/engine_345.jpg)
  }
  &.ENGINE_B_B_GREEN_GREEN{
    background-image: url(src/assets/games/gwt/cards/engine_bbgg.jpg)
  }
  &.ENGINE_B_BLUE_H_H{
    background-image: url(src/assets/games/gwt/cards/engine_bblhh.jpg)
  }
  &.ENGINE_S_S_H_H{
    background-image: url(src/assets/games/gwt/cards/engine_sshh.jpg)
  }
  &.MOVE_3_4_H_H{
    background-image: url(src/assets/games/gwt/cards/move_34hh.jpg)
  }
  &.MOVE_3_4_5{
    background-image: url(src/assets/games/gwt/cards/move_345.jpg)
  }
  &.MOVE_B_B_H_H{
    background-image: url(src/assets/games/gwt/cards/move_bbhh.jpg)
  }
  &.MOVE_S_S_B_B{
    background-image: url(src/assets/games/gwt/cards/move_ssbb.jpg)
  }
  &.MOVE_S_S_BLUE_BLUE{
    background-image: url(src/assets/games/gwt/cards/move_ssblbl.jpg)
  }
  &.START_3_4_B {
    background-image: url(src/assets/games/gwt/cards/start_34b.jpg)
  }
  &.START_B_B_H {
    background-image: url(src/assets/games/gwt/cards/start_bbh.jpg)
  }
  &.START_BLUE_H_H {
    background-image: url(src/assets/games/gwt/cards/start_blhh.jpg)
  }
  &.START_S_S_GREEN {
    background-image: url(src/assets/games/gwt/cards/start_ssg.jpg)
  }
}
