<ng-container [ngSwitch]="type">
  <div *ngSwitchCase="'CATTLE'"
       style="width:100%;height:100%"
       ngbPopover="{{'gwt.popover.cattleCard'|translate:{type:'gwt.cattleType.' + cattleCard.type|translate,breedingValue:cattleCard.breedingValue, points:cattleCard.points} }}"
       triggers="mouseenter:mouseleave"
       container="body">
    <div *ngIf="cattleCard.points" class="points">
      {{cattleCard.points}}
    </div>
  </div>
  <ng-container *ngSwitchCase="'OBJECTIVE'">
    <ng-template #objectiveCardPopover>
      {{'gwt.popover.objectiveCard'|translate: {
      points: objectiveCard.points,
      action: 'gwt.actions.descriptions.' + (objectiveCard.action||'none')|translate,
      penalty: objectiveCard.penalty
    } }}
    </ng-template>
    <div style="width:100%;height:100%"
      [ngbPopover]="objectiveCardPopover"
      triggers="mouseenter:mouseleave"
      container="body">
    </div>
  </ng-container>
</ng-container>

