<div class="modal-header">
  <h4 class="modal-title">Hi there!</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbActiveModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="hand">
    <app-card *ngFor="let card of hand" [card]="card" [ngClass]="{selected: isSelected(card)}" (click)="clickCard(card)"></app-card>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="ngbActiveModal.close(selected)" [disabled]="!valid">{{mode}}</button>
</div>
