:host {
  width: 100%;
  height: 100%;
}

.locations {
  .location {
    stroke-opacity: 1;
    stroke: #ffffff;
    stroke-width: 2;
    fill: rgb(0, 0, 0, 0.1);

    cursor: pointer;

    &:hover {
      stroke: black;
    }

    &.start {
      stroke-width: 0;
      cursor: default;
    }

    &.disabled {
      stroke-width: 0 !important;
      cursor: default !important;
      fill: none; /* make it possible to select element underneath */
    }
  }

  &.disabled {
    .location {
      stroke-width: 0 !important;
      cursor: default !important;
      fill: none; /* make it possible to select element underneath */
    }
  }
}

.buildings {
  .building {
    &.neutral {
      fill: #7a6853;
      fill-opacity: 1.0;
    }
  }
}

.cities {
  .city {
    stroke-opacity: 1;
    stroke: #ffffff;
    stroke-width: 2;
    fill: none;
    fill: rgb(0, 0, 0, 0.01);

    cursor: pointer;

    &:hover {
      stroke: black;
    }

    &.disabled {
      stroke-width: 0 !important;
      cursor: default !important;
    }
  }
}


.ranchers {

  .red {
    fill: red;
  }

  .blue {
    fill: blue;
  }

  .yellow {
    fill: yellow;
  }

  .white {
    fill: white;
  }

}

.foresights {
  * {
    cursor: pointer;

    stroke-opacity: 1;
    stroke: #ffffff;
    stroke-width: 2;
    fill: rgb(0, 0, 0, 0.1);

    &:hover {
      stroke: black;
    }

    &.selected {
      stroke: black;
    }

    &.otherSelected {
      opacity: 0.5;
    }
  }

  &.disabled {
    * {
      stroke-width: 0;
      cursor: default;
    }
  }

  .points {
    fill: white !important;
    stroke: white !important;
    stroke-width: 0 !important;
    font-size: 8px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000;
  }
}

.foresight {

}

.worker, .hazard, .teepee, .space {
  fill: rgb(0, 0, 0, 0.1);
  stroke: #ffffff;
  stroke-width: 2;
  cursor: pointer;

  &:hover {
    stroke: black;
  }

  &.disabled {
    stroke: none;
    cursor: default;
  }

  .points {
    fill: white;
    font-size: 8px;
    font-weight: bold;
    text-shadow: -1px -1px 0 #000;
    stroke: none;
  }
}

.station {
  rect {
    fill: rgb(0, 0, 0, 0.1);
    stroke: #ffffff;
    stroke-width: 2;
    cursor: pointer;

    &:hover {
      stroke: black;
    }
  }

  &.disabled {
    rect {
      display: none;
    }
  }
}

.engine, .disc {
  stroke: none;

  &.BLUE {
    fill: blue;
  }

  &.RED {
    fill: red;
  }

  &.YELLOW {
    fill: yellow;
  }

  &.WHITE {
    fill: white;
  }
}

.possible-move {
  line {
    cursor: pointer;
  }
}

