.RED {
  color: red !important;
}

.BLUE {
  color: blue !important;
}

.YELLOW {
  color: yellow !important;
}

.WHITE {
  color: white !important;
}

.GREEN {
  color: green !important;
}

.fill-RED {
  fill: red !important;
}

.fill-BLUE {
  fill: blue !important;
}

.fill-YELLOW {
  fill: yellow !important;
}

.fill-WHITE {
  fill: white !important;
}

.fill-GREEN {
  fill: green !important;
}
