/* You can add global styles to this file, and also import other style files */

html {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;

  font-family: sans-serif;
  font-size: 10pt;
}

.btn {
  font-size: 10pt;
}

.navbar-brand {
  padding: 2px 8px;

  img {
    width: 150px;
    height: 32px;
  }
}

.btn {
  padding: 4px 6px;
  text-transform: none;
  font-weight: bold;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

.popover {
  &.orange {
    background-color: orange;
    .arrow:after {
      border-top-color: orange;
    }

    .popover-body {
      color: black;
    }
  }

  &.purple {
    background-color: purple;
    .arrow:after {
      border-top-color: purple;
    }

    .popover-body {
      color: white;
    }
  }

  &.cyan {
    background-color: cyan;
    .arrow:after {
      border-top-color: cyan;
    }

    .popover-body {
      color: black;
    }
  }

  &.salmon {
    background-color: salmon;
    .arrow:after {
      border-top-color: salmon;
    }

    .popover-body {
      color: black;
    }
  }

  &.green {
    background-color: green;
    .arrow:after {
      border-top-color: green;
    }

    .popover-body {
      color: white;
    }
  }

  &.silver {
    background-color: silver;
    .arrow:after {
      border-top-color: silver;
    }

    .popover-body {
      color: black
    }
  }

  .popover-body {
    .RED {
      color: red;
      font-weight: bold;
    }

    .BLUE {
      color: blue;
      font-weight: bold;
    }

    .YELLOW {
      color: yellow;
      font-weight: bold;
    }

    .WHITE {
      color: white;
      font-weight: bold;
    }
  }
}

.modal-dialog {
  .modal-content {
    background-color: darkgrey;
    color: black;

    -webkit-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px 4px rgba(0,0,0,0.75);
  }

  .modal-header {
    background-image: linear-gradient(#6d94bf, #446E9B 50%, #3e648d);
    background-repeat: no-repeat;
    border: 1px solid #345578;
  }

  .modal-title {
    color: white;
    font-size: 1.1rem;
  }

  .modal-footer {
  }
}
