<div class="container-fluid">
  <h2>My Games</h2>

  <div *ngFor="let game of games | async" class="game" (click)="openGame(game.game)">
    <div class="row">
      <div class="col-2">
        <img src="../../assets/box.jpg" class="box"/>
      </div>
      <div class="col-6">
        <p>
          Great Western Trail,
          <span *ngIf="game.game.status === 'STARTED'">
            started {{game.game.started | date}}
          </span>
          <ng-container *ngIf="game.game.status !== 'STARTED'">
            <span *ngIf="game.game.accepted">
              not started
            </span>
            <span *ngIf="!game.game.accepted">
              invited by  {{game.game.owner.username}}
            </span>
          </ng-container>
        </p>
        <p>
          <button *ngIf="!game.game.accepted" (click)="accept(game.game)">Accept</button>
          <button *ngIf="!game.game.accepted" (click)="reject(game.game)">Reject</button>
          <ng-container *ngIf="game.game.status === 'STARTED'">
            <span *ngIf="!game.game.turn">
              waiting for {{game.game.currentPlayer.username}} ({{game.game.expires | fromNow:60000}} remaining)
            </span>
              <span *ngIf="game.game.turn">
              your turn ({{game.game.expires | fromNow:60000}} remaining)
            </span>
          </ng-container>
          <ng-container *ngIf="game.game.status === 'NEW'">
            <span *ngIf="!game.game.turn">
              waiting for players to accept
            </span>
          </ng-container>
        </p>
      </div>
      <div class="col-4">
        <div class="player" *ngFor="let otherPlayer of game.game.otherPlayers">
          <img [src]="otherPlayer.user.avatarUrl" class="avatar"/>
          <div>{{otherPlayer.user.username}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
