.game {
  width: 700px;
  height: 100px;
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;

  .box {
    width: 60px;
    height: 60px;
  }

  .player {
    float: left;



    > span {

    }
  }
}
