<section class="container" *ngIf="loggedIn | async">
  <div *ngFor="let table of realtimeTables | async" class="alert alert-primary table">
    <strong>{{'game.' + table.game + '.name' | translate}}</strong>

    <ng-container [ngSwitch]="table.status">
      <span *ngSwitchCase="'NEW'">
        <ng-container [ngSwitch]="table.accepted">
          <span *ngSwitchCase="true">
            {{'notStarted'|translate}}
            <button (click)="openTable(table)" class="btn btn-primary">{{'open'|translate}}</button>
          </span>
          <span *ngSwitchCase="false">
            {{'invitedBy'|translate}} {{table.owner.username}}
            <button (click)="accept(table)" class="btn btn-success">{{'accept'|translate}}</button>
            &nbsp;
            <button (click)="reject(table)" class="btn btn-danger">{{'reject'|translate}}</button>
          </span>
        </ng-container>
      </span>
      <span *ngSwitchCase="'STARTED'">
        <ng-container [ngSwitch]="table.turn">
          <span *ngSwitchCase="true">
            {{'yourTurn'|translate}}
          </span>
          <span *ngSwitchCase="false">
            {{'waitingFor'|translate}}
            {{table.players[table.currentPlayer].user?.username || 'computer'|translate}}
          </span>
        </ng-container>
        <button (click)="openTable(table)" class="btn btn-primary">Open</button>
      </span>
    </ng-container>

    <span class="avatars">
      <app-avatar *ngFor="let player of otherHumanPlayers(table)" [user]="player.user"></app-avatar>
    </span>
  </div>
</section>

<section class="container" *ngIf="!(loggedIn | async)">
  <div class="jumbotron">
    <h1 class="display-4">{{'home.welcome'|translate}}!</h1>
    <p class="lead">{{'home.lead'|translate}}</p>
    <hr class="my-4">
    <p>{{'home.lead2'|translate}}</p>
    <p>
      <button class="btn btn-primary btn-lg" (click)="initLoginFlow()">{{'home.startPlayingNow'|translate}}</button>
    </p>
  </div>
</section>

<section class="container games">
  <h2>{{'games' | translate}}</h2>
  <div class="row">
    <!-- Split across rows -->
    <div *ngFor="let game of games | async" class="col-3">
      <div class="card">
        <img class="card-img-top" src="/assets/games/{{game.id}}/box.png" alt="{{'game.' + game.id + '.name'|translate}}">
        <div class="card-body">
          <h5 class="card-title">{{'game.' + game.id + '.name' | translate}}</h5>
          <button class="btn btn-primary" (click)="play(game)">{{'play'|translate}}</button>
          <span class="ml-2">
            <a [routerLink]="['games/', game.id]">{{'readMore'|translate}}</a>
          </span>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="/assets/games/mombasa/box.jpg" alt="Mombasa">
        <div class="card-body">
          <h5 class="card-title">Mombasa</h5>
          <button class="btn btn-primary" disabled>{{'play'|translate}}</button>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <img class="card-img-top" src="/assets/games/omg/box.jpg" alt="Oh My Goods">
        <div class="card-body">
          <h5 class="card-title">Oh My Goods</h5>
          <button class="btn btn-primary" disabled>{{'play'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
