<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>

  <div *ngIf="loggedIn | async">
    <span *ngIf="currentUser | async as cu">{{cu.username}}</span>
    <button (click)="logout()">logout</button>
  </div>
</nav>

<div *ngIf="!(loggedIn | async)" class="container-fluid">
  <button *ngIf="!(loggedIn | async)" (click)="login()">login</button>
</div>

<div *ngIf="loggedIn | async" class="container-fluid">
  <a class="btn btn-primary" [routerLink]="['/create']">Create Game</a>

  <h2>My Games</h2>

  <ul>
    <li *ngFor="let game of games | async">
      <a *ngIf="game.game.status !== 'STARTED'" [routerLink]="['/lobby/', game.game.id]">{{game.game.id}}</a>
      <a *ngIf="game.game.status === 'STARTED'" [routerLink]="['/games/', game.game.id]">{{game.game.id}}</a>
      {{game.game.status}}
      {{game.game.expires | date}} {{game.players}}
      <button *ngIf="!game.game.accepted" (click)="accept(game.game)">Accept</button>
      <button *ngIf="!game.game.accepted" (click)="reject(game.game)">Reject</button>
    </li>
  </ul>
</div>
