.game {
  background: url(../../assets/box.jpg) no-repeat 0 0;
  background-size: 60px 60px;
  padding-left: 70px;
  height: 80px;
  border: 1px solid #fff;
  border-radius: 6px;
  cursor: pointer;
}
