.RED {
  color: red;
  font-weight: bold;
}

.BLUE {
  color: blue;
  font-weight: bold;
}

.YELLOW {
  color: yellow;
  font-weight: bold;
}

.WHITE {
  color: white;
  font-weight: bold;
}

.GREEN {
  color: green;
  font-weight: bold;
}
