<strong [class]="player.color">

  <ng-container *ngIf="player.user">
    <ng-template #userPopover>
      <app-user-popover [user]="player.user"></app-user-popover>
    </ng-template>
    <span [ngbPopover]="userPopover"
          placement="bottom-right"
          triggers="mouseenter:mouseleave"
          container="body"
          [class]="player.color">
      <app-user-name *ngIf="player.user" [user]="player.user"></app-user-name>
    </span>
  </ng-container>

  <ng-container *ngIf="!player.user">{{'computer'|translate}}</ng-container>
</strong>
