:host {
  width: 100%;
}

.fixed-top {
  z-index: 9999;
}

ngb-toast {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.75);
  text-align: center;
}

.fixed-top {
  // make sure container that holds the toasts does not cover anything unnecessary
  left: 25%;
  right: 25%;
}

.toast {
  width: 100%;
  max-width: 100%;
}
